@mixin file-icon($classModifier, $color) {
  .ui-file-icon--#{$classModifier} {
    border-color: $color;

    .mat-icon {
      fill: $color;
      stroke: $color;
    }

    > div {
      color: $color;
      border-color: $color;
      background-color: lighten($color, 60);
    }
  }
}

@include file-icon('pdf', red);
@include file-icon('doc', blue);
@include file-icon('xlsx', green);
@include file-icon('product-type-1', $color-red-1); // general file
@include file-icon('product-type-2', #9ca70a); // learning plan goal
