@mixin file-icon($classModifier, $color) {
  .ui-file-icon--#{$classModifier} {
    border-color: $color;

    .mat-icon {
      fill: $color;
    }

    > div {
      color: $color;
      border-color: $color;
    }
  }
}

@include file-icon('pdf', red);
@include file-icon('doc', blue);
@include file-icon('xlsx', green);
@include file-icon(
  'product-type-algemeen-bestand',
  $color-red-1
); // general file
@include file-icon(
  'product-type-zoekresultaat-algemeen-bestand',
  $color-blue-3
); // general file

@include file-icon('product-type-doelen', #9ca70a); // learning plan goal
