@import '~@angular/material/_theming';
@include mat-core(); // be sure to include this mixin only once
// created theme with http://mcg.mbitson.com/ (find main palette color next to '500 :')
$mat-app-primary: (
  50: #ecf5f6,
  100: #d0e6ea,
  200: #b1d5dc,
  300: #91c4cd,
  400: #7ab8c3,
  500: #62abb8,
  600: #5aa4b1,
  700: #509aa8,
  800: #4691a0,
  900: #348091,
  A100: #dcf8ff,
  A200: #a9efff,
  A400: #76e5ff,
  A700: #5de0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-app-accent: (
  50: #fbf4ea,
  100: #f5e4ca,
  200: #efd3a7,
  300: #e9c184,
  400: #e4b369,
  500: #dfa64f,
  600: #db9e48,
  700: #d7953f,
  800: #d28b36,
  900: #ca7b26,
  A100: #ffffff,
  A200: #ffe9d4,
  A400: #ffcfa1,
  A700: #ffc287,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-app-warn: $mat-red;
// apply custom theme to my components (https://material.angular.io/guide/theming-your-components)
$app-primary: mat-palette($mat-app-primary);
$app-accent: mat-palette($mat-app-accent, 500, 900, A100);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
