@mixin file-icon($classModifier, $color) {
  .ui-file-icon--#{$classModifier} {
    border-color: $color;

    .mat-icon {
      fill: $color;
      stroke: $color;
    }

    > div {
      color: $color;
      border-color: $color;
      background-color: lighten($color, 60);
    }
  }
}

@include file-icon('pdf', red);
@include file-icon('doc', blue);
@include file-icon('xlsx', green);
@include file-icon(
  'product-type-algemeen-bestand',
  $color-red-1
); // general file

@include file-icon('product-type-doelen', #9ca70a); // learning plan goal

.method-method__container__files {
  .ui-file-icon {
    border: none;
    background-color: transparent;
    height: 40px;
    width: 33.33px;
    padding: 0px;

    > div {
      border: none;
      background-color: transparent !important;
      color: $color-red-1;
      top: 35%;
    }
  }
}
