@mixin file-icon($classModifier, $color) {
  .ui-file-icon--#{$classModifier} {
    border-color: $color;

    .mat-icon {
      fill: $color;
    }

    > div {
      color: $color;
      border-color: $color;
    }
  }

  .method-method__container__files {
    .producttype-#{$classModifier} {
      &.method-file {
        &:hover {
          border-left: solid 2px $color;
        }
      }
    }
  }
}

@include file-icon('pdf', red);
@include file-icon('doc', blue);
@include file-icon('xlsx', green);
@include file-icon(
  'product-type-algemeen-bestand',
  $color-red-1
); // general file
@include file-icon(
  'product-type-zoekresultaat-algemeen-bestand',
  $color-blue-3
); // general file

@include file-icon('product-type-doelen', #9ca70a); // learning plan goal

.method-method__container__files {
  .ui-file-icon {
    background-color: transparent;
    height: 40px;
    width: 33.33px;
    padding: 0px;
    > div {
      color: $color-red-1;
      top: 35%;
    }
  }

  .mat-list-item {
    &.method-file {
      border-left: solid 2px transparent;
    }
  }
}
