// color definitions
// > header + icons homepage
$color-white-1: #fff; // header
$color-red-1: #e7215d; // kabas logo color
$color-lila-1: #d48fc6;
$color-blue-1: #65c1ea;
$color-red-2: #ec727c;
$color-green-1: #70c5a3;
$color-orange-1: #f2a248;
$color-black-1: #000000;

// > sidebar
$color-gray-1: #f8f8f8; // bg       / table rows
$color-gray-2: #ececec; // left bar / table rows
$color-gray-3: #484748; // text

// main
$color-blue-2: #9fdae4; // left gradient color
$color-blue-3: #15adb9; // right gradient color + accent color (borders / links / checkboxes)
$color-gray-4: #808080; // icons + text
$color-gray-5: #dcdcdc; // border between boek | methode buttons
$color-gray-6: #898989; // font color home + toc subnav
$color-gray-7: #e0e0e0;
$kabas-page-vertical-padding: 20px;
$kabas-page-horizontal-padding: 40px;

// app > main body
$primary-bg-color: $color-white-1;
$primary-font-color: $color-gray-3;
$primary-color-accent: $color-blue-3; // link, button (borders)
$primary-font-color-2: $color-gray-4; // subtitle
$primary-font-family: 'Arial', 'Open Sans', sans-serif;
$primary-font-family-2: 'Lato', sans-serif; // title
$primary-font-size: 14px;

// app > nav + site header (shell)
$secondary-bg-color: $color-gray-1;
$secondary-font-color: $color-gray-3;
$secondary-bg-color-accent: $color-blue-2; // active buttons
$secondary-font-color-accent: $color-red-1; // link, button (borders)
$secondary-bg-color-badge: $color-white-1; //  badge
$secondary-font-color-badge: $color-white-1; // badge

// app > panel headers
$tertiary-bg-color: $color-white-1;
$tertiary-font-color: $color-gray-3;
$tertiary-bg-color-2: $color-gray-1;
$tertiary-font-color-2: $color-white-1;

// ui > main body
$ui-primary-bg-color: $primary-bg-color;
$ui-primary-font-color: $primary-font-color;
$ui-primary-font-size: $primary-font-size;
$ui-primary-color-accent: $primary-color-accent;
$ui-primary-font-color-2: $primary-font-color-2;
$ui-primary-font-family: $primary-font-family;
$ui-primary-font-family-2: $primary-font-family-2;
// ui > nav + site header (shell)
$ui-secondary-bg-color: $secondary-bg-color;
$ui-secondary-font-color: $secondary-font-color;
$ui-secondary-bg-color-accent: $secondary-bg-color-accent;
$ui-secondary-font-color-accent: $secondary-font-color-accent;
$ui-tree-nav-color-separator: $secondary-bg-color;
$ui-tree-nav__node-border-top: none;
$ui-tree-nav__node-line-height: 1.5;
$ui-tree-nav__node__link-border-left: none;
$ui-tree-nav__node__link-border-active: none;
$ui-tree-nav__node__top-level-padding: 12px 0px 12px 24px;

// ui > panel headers
$ui-tertiary-bg-color: $tertiary-bg-color;
$ui-tertiary-font-color: $tertiary-font-color;
$ui-tertiary-bg-color-2: $tertiary-bg-color-2;
$ui-tertiary-font-color-2: $tertiary-font-color-2;

// ui > page header
$ui-page-header-font-size: 20px;
$ui-page-header-font-weight: bold;

// ui > app bar
$ui-app-bar-height: 80px;
$ui-app-bar-background-color: $color-white-1;
$ui-app-bar-button-width: 85px;
$ui-app-bar__section__align-right-padding-right: 25px;
$ui-app-bar__button-font-size: 12px;
$ui-app-bar__button-font-weight: bold;
$ui-app-bar__button__icon-size: 32px;
$ui-breadcrumbs-crumb-text-size: 15px;
$ui-breadcrumbs-crumb-text-weight: bold;
$ui-breadcrumbs-crumb-icon-size: 20px;

// shared header (app & page bar)
$shared-header-font-size: 12px;
$shared-header-font-weight: bold;
$shared-header__app-bar-height: 120px;
$shared-header__app-bar-padding-top: 40px;
$shared-header__page-bar-padding-left: $kabas-page-horizontal-padding;
$shared-header__page-bar-height: 80px;
$shared-header__page-bar__divider-margin-left-right: 0;
$shared-header__page-bar-container__justify-content: flex-end;
$shared_header__page-bar_background: linear-gradient(
  90deg,
  $color-blue-2,
  $color-blue-3
);
$shared-header__contextual-button-color: $secondary-font-color;
$shared-header__contextual-button-color-hover: $primary-bg-color;
$shared-header__contextual-button-bg-color: transparent;
$shared-header__contextual-button-icon-size: 24px;
$shared-header__contextual-button-icon-size-small: 20px;

// shared tiles
$shared-bg-color-1: $color-white-1 !default;

// pages
$pages-padding: $kabas-page-vertical-padding $kabas-page-horizontal-padding;

// ui > app shell variables
$ui-shell__left-width: 210px;
$ui-shell__top-height: 200px;
$ui-shell__top-height--mobile: 80px;
$ui-shell__top-background-color: $color-white-1;
$ui-shell__logo-height: 120px;
$ui-shell__logo-background-color: $color-white-1;
$ui-shell__logo-padding-top: 0;
$ui-shell__logo-border-left: 50px solid $color-white-1;
$ui-shell__left__content-border-left: 50px solid $color-gray-2;
$ui-shell__logo__img-width: 100%;

// ui > person badge
$ui-person-badge-border-radius: 0;

// ui > forms
$ui-form-button-default-bg-color: $color-gray-2;
$ui-form-button-primary-bg-color: $color-orange-1;
$ui-button--large-font-size: 18px;
$ui-button-font-weight: bold;
$ui-form-input-font-weight: bold;
$ui-form-input-font-color: $color-gray-4;
$ui-form-input--focused-font-color: $color-blue-3;
$ui-form-item-label-color: $color-gray-4;
$ui-form-item-margin-bottom: 10px;

// ui > collapsible sheet
$ui-collapsible-sheet-button-bg-color: $color-gray-2;
$ui-collapsible-sheet-border-color: $color-gray-2;

// search filters,
$filters-active-background-color: $color-gray-2 !default;
$filters-hover-background-color: #f5f5f5 !default; // material button hover default

$search-filter-height: 50px;
$ui-form-field-height: 50px;

// search filters > search term
$search-search-term-border-width: 0px;
$search-search-term-button-background-color: transparent;
$search-search-term-button-box-shadow-color: transparent;
$search-search-term-button-border-left-width: 0;
$search-search-term_mat-form-field_outline-opacity: 1;
$search-search-term-button-border-width: 0px;
$search-search-term_mat-form-field_outline-border-right-width: 1px;
$search-search-term-button_icon-color: $primary-font-color-2;
$search-search-term-button-hover-background-color: $color-orange-1;
$search-search-term-button-hover-icon-color: $color-white-1;
$search-search-term_mat-form-field_outline-border-color: $primary-font-color-2;

// search filters > diabolo buttons
$button-toggle-filter_button-group-border-radius: 0;
$button-toggle-filter_button-group-border-color: $primary-font-color-2;

// search filters > select filter
$select-filter_mat-select-trigger-padding: 8px;
$select-filter_mat-select-trigger-border-width: 1px;
$select-filter_mat-select-trigger-border-color: $primary-font-color-2;
$select-filter_mat-select-value-vertical-align: middle;

// search filters > date filter
$date-filter_mat-form-field_outline-opacity: 1;
$date-filter_mat-form-field_outline-border-right-width: 1px;
$date-filter_mat-form-field_outline-border-color: $primary-font-color-2;
$date-filter_date-range_day--in-range-background-color: $secondary-bg-color-accent;

// ui > date range picker component
$ui-date-range-picker_mat-form-field_outline-opacity: 1;
$ui-date-range-picker_mat-form-field_outline-border-right-width: 1px;
$ui-date-range-picker_mat-form-field_outline-border-color: $primary-font-color-2;
$ui-date-range-picker_date-range_day--in-range-background-color: $secondary-bg-color-accent;

// search > reset filters button
$pages-method-chapter__reset-filters-border-color: $primary-font-color-2;
$pages-method-chapter__reset-filters-width: $search-filter-height;
$pages-method-chapter__reset-filters-height: $search-filter-height;
$pages-method-chapter__reset-filters-background-color: transparent;
$pages-method-chapter__reset-filters-hover-background-color: $color-orange-1;
$pages-method-chapter__reset-filters-hover-color: $color-white-1;

$pages-practice-book-lessons__reset-filters-border-color: $primary-font-color-2;
$pages-practice-book-lessons__reset-filters-width: $search-filter-height;
$pages-practice-book-lessons__reset-filters-height: $search-filter-height;
$pages-practice-book-lessons__reset-filters-background-color: transparent;
$pages-practice-book-lessons__reset-filters-hover-background-color: $color-orange-1;
$pages-practice-book-lessons__reset-filters-hover-color: $color-white-1;

// method chapter filters
$pages-method-chapter__filters-padding-top: 32px;
$pages-method-chapter__filters-padding-right: $kabas-page-horizontal-padding;
$pages-method-chapter__filters-padding-bottom: 18px;
$pages-method-chapter__filters-padding-left: $kabas-page-horizontal-padding;
$pages-method-chapter__filters-border-color: $secondary-bg-color;
$pages-method-chapter__filters-box-shadow-color: $color-gray-5;
$pages-method-filters-hover-background-color: $color-gray-7 !default;
// practice book lessons filters
$pages-practice-book-lessons__filters-padding-top: 32px;
$pages-practice-book-lessons__filters-padding-right: $kabas-page-horizontal-padding;
$pages-practice-book-lessons__filters-padding-bottom: 18px;
$pages-practice-book-lessons__filters-padding-left: $kabas-page-horizontal-padding;
$pages-practice-book-lessons__filters-border-color: $secondary-bg-color;
$pages-practice-book-lessons__filters-box-shadow-color: $color-gray-5;

//manage kabas tasks overview filters
$manage-kabas-tasks-overview_filterbar-margin-top: 15px;
$manage-kabas-tasks-overview_filterbar-margin-left: 45px;
$manage-kabas-tasks-overview_filterbar-filter-width: 150px;
$manage-kabas-tasks-overview_filterbar-filter-heigth: 50px;
$manage-kabas-tasks-overview_filterbar-filter-padding-width: 8px;
$manage-kabas-tasks-overview_filterbar-filter-padding-height: 12px;
$manage-kabas-tasks-overview__reset-margin-right: 20px;
$manage-kabas-tasks-overview__reset-margin-bottom: 10px;
$pages-kabas-tasks-filters-hover-foreground-color: $color-black-1;
$manage-kabas-tasks-overview_filterbar-archive-toggle: $color-gray-4;
$manage-kabas-tasks-overview_filterbar-border-bottom: $color-gray-1;

$manage-kabas-tasks-overview__reset-filters-width: 50px;
$manage-kabas-tasks-overview__reset-filters-height: 50px;
$manage-kabas-tasks-overview__reset-filters-border-width: 1px;
$manage-kabas-tasks-overview__reset-filters-border-color: $primary-font-color-2;
$manage-kabas-tasks-overview__reset-filters-background-color: transparent;
$filters-hover-background-color: inherit;
$filters-active-background-color: inherit;

// search > results list
$search-results-list__info-height: auto;
$search-results-list__info-color: $primary-font-color-2;
$search-results-list__info-padding-vertical: 16px;
$search-results-list__info-padding-horizontal: $kabas-page-horizontal-padding;
$search-results-list__loading-padding: 18px $kabas-page-horizontal-padding;

// ui > file-icons
$ui-file-icon-height: 40px;
$ui-file-icon-padding: 0px;
$ui-file-icon-border: none;
$ui-file-icon__label-left: 0; // center horizontally
$ui-file-icon__label-right: 0; // center horizontally
$ui-file-icon__label-text-transform: unset;
$ui-file-icon__label-text-weight: bold;
$ui-file-icon__label-top: 35%;
$ui-file-icon__label-text-color: $secondary-font-color-accent;

$shared-method-books-tile_button_container_button-box-shadow-color: $primary-font-color-2;

// home
$pages-home-text-color--primary: $primary-font-color-2;
$pages-home-text-color--primary--hover: $secondary-font-color-accent;
$pages-home-background-color--primary: $primary-bg-color;
$pages-home-text-color--secondary: $primary-font-color;
$pages-home-background-color--secondary: $color-gray-2;
$pages-home_image-background-color: $secondary-font-color-accent;
$pages-home-text-color--tertiary: $primary-font-color-2;
$pages-home_container_shortcuts-border-top-color: $secondary-bg-color;

// methods
$pages-methods-text-color--primary: $primary-font-color;
$pages-methods-text-color--primary--accent: $secondary-font-color-accent;
$pages-methods-background-color--primary: $primary-bg-color;
$pages-methods-border-color--primary: $color-gray-2;
$pages-methods-text-color--secondary: $primary-font-color-2;
$pages-methods-background-color--secondary: $secondary-bg-color;

// kabas-tasks
$pages-kabas-tasks-text-color--primary: $primary-font-color;
$pages-kabas-tasks-text-color--primary--accent: $secondary-font-color-accent;
$pages-kabas-tasks-background-color--primary: $primary-bg-color;
$pages-kabas-tasks-border-color--primary: $color-gray-2;
$pages-kabas-tasks-text-color--secondary: $primary-font-color-2;
$pages-kabas-tasks-background-color--secondary: $secondary-bg-color;

// practice
$pages-practice-text-color--primary: $primary-font-color;
$pages-practice-text-color--primary--accent: $secondary-font-color-accent;
$pages-practice-background-color--primary: $primary-bg-color;
$pages-practice-border-color--primary: $color-gray-2;
$pages-practice-text-color--secondary: $primary-font-color-2;
$pages-practice-background-color--secondary: $secondary-bg-color;

//settings
$pages-settings_page-header-display: none;
$pages-settings_container-max-width: 320px;
$pages-settings_container-background-color: $color-white-1;
$pages-settings_container-box-shadow: 0px 0px 8px 2px $color-gray-3;
$pages-settings_avatar_container-width: 100%;
$pages-settings_avatar-padding-top: 60px; // (container width - badge width) / 2
$pages-settings_avatar-padding-bottom: 30px;
$pages-settings_avatar-subtext-color: $primary-font-color-2;

$pages-settings_mat-list-margin-bottom: 48px; //= mat-list-item height
$pages-settings_mat-list_item-color: $primary-font-color;
$pages-settings_mat-list_item-font-weight: bold;
$pages-settings_mat-list_item-background-color--accent: $secondary-bg-color;

$pages-settings_form-bg-color: $color-white-1;
$pages-settings_form-padding: 64px;
$pages-settings_form__title-margin-bottom: 32px;
$pages-settings-profile__form-box-shadow: $pages-settings_container-box-shadow;
$pages-settings-profile__form-color: $color-gray-4;
$pages-settings-profile__form-width: 500px;

// tasks
$pages-manage-kabas-tasks__task-list-item__status-color: $color-lila-1;
$pages-manage-kabas-tasks__task-list-item__archived-color: $color-green-1;
