// color definitions
// > header + icons homepage
$color-white-1: #fff; // header
$color-red-1: #c92d5f; // kabas logo color
$color-lila-1: #c48ec5;
$color-blue-1: #88bee8;
$color-red-2: #d3757e;
$color-green-1: #8ec5a3;
$color-orange-1: #dfa64f;
// > sidebar
$color-gray-1: #f8f8f8; // bg       / table rows
$color-gray-2: #ececec; // left bar / table rows
$color-gray-3: #484748; // text

// main
$color-blue-2: #b2d9e3; // left gradient color
$color-blue-3: #62abb8; // right gradient color + accent color (borders / links / checkboxes)
$color-gray-4: #808080; // icons + text
$color-gray-5: #dcdcdc; // border between boek | methode buttons
$color-gray-6: #898989; // font color home + toc subnav

// app > main body
$primary-bg-color: $color-white-1;
$primary-font-color: $color-gray-3;
$primary-color-accent: $color-blue-3; // link, button (borders)
$primary-font-color-2: $color-gray-4; // subtitle
$primary-font-family: 'Helvetica', 'Arial', 'Open Sans', sans-serif;
$primary-font-family-2: 'Lato', sans-serif; // title
$primary-font-size: 14px;
// app > nav + site header (shell)
$secondary-bg-color: $color-gray-2;
$secondary-font-color: $color-gray-3;
$secondary-bg-color-accent: $color-blue-2; // active buttons
$secondary-font-color-accent: $color-red-1; // link, button (borders)
$secondary-bg-color-badge: $color-white-1; //  badge
$secondary-font-color-badge: $color-white-1; // badge
// app > panel headers
$tertiary-bg-color: $color-white-1;
$tertiary-font-color: $color-gray-3;
$tertiary-bg-color-2: $color-gray-1;
$tertiary-font-color-2: $color-white-1;

// ui > main body
$ui-primary-bg-color: $primary-bg-color;
$ui-primary-font-color: $primary-font-color;
$ui-primary-font-size: $primary-font-size;
$ui-primary-color-accent: $primary-color-accent;
$ui-primary-font-color-2: $primary-font-color-2;
$ui-primary-font-family: $primary-font-family;
$ui-primary-font-family-2: $primary-font-family-2;
// ui > nav + site header (shell)
$ui-secondary-bg-color: $secondary-bg-color;
$ui-secondary-font-color: $secondary-font-color;
$ui-secondary-bg-color-accent: $secondary-bg-color-accent;
$ui-secondary-font-color-accent: $secondary-font-color-accent;
$ui-tree-nav-color-separator: $secondary-bg-color;
// ui > panel headers
$ui-tertiary-bg-color: $tertiary-bg-color;
$ui-tertiary-font-color: $tertiary-font-color;
$ui-tertiary-bg-color-2: $tertiary-bg-color-2;
$ui-tertiary-font-color-2: $tertiary-font-color-2;

// ui > app bar
$ui-app-bar-background-color: linear-gradient(
  90deg,
  $color-blue-2 0%,
  $color-blue-3 100%
);
// ui > app shell variables
$ui-shell__left-width: 235px;
$ui-shell__top-height: 105px;
$ui-shell__top-height--mobile: 60px;
$ui-shell__logo-height: 105px;
$ui-shell__logo-background-color: $color-white-1;

// ui > forms
$ui-form-button-default-bg-color: $color-gray-3;
$ui-form-button-primary-bg-color: $color-blue-2;
$ui-button--large-font-size: 18px;

// social media
$facebook-button-background-color: #455897;
$facebook-button-font-color: white;
$google-button-background-color: #4285f4;
$google-button-font-color: white;
$smartschool-button-background-color: #ff520e;
$smartschool-button-font-color: white;

// campus-header
$shared-header__page-bar-container__justify-content: flex-end;
