// color definitions
// > header + icons homepage
$color-white-1: #fff; // header
$color-red-1: #e7215d; // kabas logo color
$color-lila-1: #d48fc6;
$color-blue-1: #65c1ea;
$color-red-2: #ec727c;
$color-green-1: #70c5a3;
$color-orange-1: #f2a248;

// > sidebar
$color-gray-1: #f8f8f8; // bg       / table rows
$color-gray-2: #ececec; // left bar / table rows
$color-gray-3: #484748; // text

// main
$color-blue-2: #9fdae4; // left gradient color
$color-blue-3: #15adb9; // right gradient color + accent color (borders / links / checkboxes)
$color-gray-4: #808080; // icons + text
$color-gray-5: #dcdcdc; // border between boek | methode buttons
$color-gray-6: #898989; // font color home + toc subnav

$kabas-page-vertical-padding: 20px;
$kabas-page-horizontal-padding: 40px;

// app > main body
$primary-bg-color: $color-white-1;
$primary-font-color: $color-gray-3;
$primary-color-accent: $color-blue-3; // link, button (borders)
$primary-font-color-2: $color-gray-4; // subtitle
$primary-font-family: 'Arial', 'Open Sans', sans-serif;
$primary-font-family-2: 'Lato', sans-serif; // title
$primary-font-size: 14px;

// app > nav + site header (shell)
$secondary-bg-color: $color-gray-1;
$secondary-font-color: $color-gray-3;
$secondary-bg-color-accent: $color-blue-2; // active buttons
$secondary-font-color-accent: $color-red-1; // link, button (borders)
$secondary-bg-color-badge: $color-white-1; //  badge
$secondary-font-color-badge: $color-white-1; // badge

// app > panel headers
$tertiary-bg-color: $color-white-1;
$tertiary-font-color: $color-gray-3;
$tertiary-bg-color-2: $color-gray-1;
$tertiary-font-color-2: $color-white-1;

// ui > main body
$ui-primary-bg-color: $primary-bg-color;
$ui-primary-font-color: $primary-font-color;
$ui-primary-font-size: $primary-font-size;
$ui-primary-color-accent: $primary-color-accent;
$ui-primary-font-color-2: $primary-font-color-2;
$ui-primary-font-family: $primary-font-family;
$ui-primary-font-family-2: $primary-font-family-2;
// ui > nav + site header (shell)
$ui-secondary-bg-color: $secondary-bg-color;
$ui-secondary-font-color: $secondary-font-color;
$ui-secondary-bg-color-accent: $secondary-bg-color-accent;
$ui-secondary-font-color-accent: $secondary-font-color-accent;
$ui-tree-nav-color-separator: $secondary-bg-color;
$ui-tree-nav__node-border-top: none;
$ui-tree-nav__node-line-height: 1.5;
$ui-tree-nav__node__link-border-left: none;
$ui-tree-nav__node__link-border-active: none;
$ui-tree-nav__node__top-level-padding: 12px 0px 12px 24px;

// ui > panel headers
$ui-tertiary-bg-color: $tertiary-bg-color;
$ui-tertiary-font-color: $tertiary-font-color;
$ui-tertiary-bg-color-2: $tertiary-bg-color-2;
$ui-tertiary-font-color-2: $tertiary-font-color-2;

// ui > page header
$ui-page-header-font-size: 20px;
$ui-page-header-font-weight: bold;

// ui > app bar
$ui-app-bar-height: 80px;
$ui-app-bar-background-color: $color-white-1;
$ui-app-bar-button-width: 85px;
$ui-app-bar__section__align-right-padding-right: 25px;
$ui-app-bar__button-font-size: 12px;
$ui-app-bar__button-font-weight: bold;
$ui-app-bar__button__icon-size: 32px;
$ui-breadcrumbs-crumb-text-size: 15px;
$ui-breadcrumbs-crumb-text-weight: bold;
$ui-breadcrumbs-crumb-icon-size: 20px;

// shared header (app & page bar)
$shared-header-font-size: 12px;
$shared-header-font-weight: bold;
$shared-header__app-bar-height: 120px;
$shared-header__app-bar-padding-top: 40px;
$shared-header__page-bar-padding-left: $kabas-page-horizontal-padding;
$shared-header__page-bar-height: 80px;
$shared-header__page-bar__divider-margin-left-right: 0;
$shared-header__page-bar-container__justify-content: flex-end;
$shared_header__page-bar_background: linear-gradient(
  90deg,
  $color-blue-2,
  $color-blue-3
);
$shared-header__quicklink-color: $secondary-font-color;
$shared-header__quicklink-color-hover: $secondary-font-color-accent;
$shared-header__quicklink-bg-color: transparent;
$shared-header__quicklink-icon-size: 24px;
$shared-header__quicklink-icon-size-small: 20px;

// pages
$pages-padding: $kabas-page-vertical-padding $kabas-page-horizontal-padding;

// ui > app shell variables
$ui-shell__left-width: 210px;
$ui-shell__top-height: 200px;
$ui-shell__top-height--mobile: 80px;
$ui-shell__top-background-color: $color-white-1;
$ui-shell__logo-height: 120px;
$ui-shell__logo-background-color: $color-white-1;
$ui-shell__logo-padding-top: 0;
$ui-shell__logo-border-left: 50px solid $color-white-1;
$ui-shell__left__content-border-left: 50px solid $color-gray-2;
$ui-shell__logo__img-width: 100%;

// ui > person badge
$ui-person-badge-border-radius: 0;

// ui > forms
$ui-form-button-default-bg-color: $color-gray-2;
$ui-form-button-primary-bg-color: $color-orange-1;
$ui-button--large-font-size: 18px;
$ui-button-font-weight: bold;
$ui-form-input-font-weight: bold;
$ui-form-input-font-color: $color-gray-3;
$ui-form-item-label-color: $color-gray-3;

// ui > collapsible sheet
$ui-collapsible-sheet-button-bg-color: $color-gray-2;
$ui-collapsible-sheet-border-color: $color-gray-2;

// search filters
$search-filter-height: 50px;

// search filters > search term
$search-search-term-border-width: 0px;
$search-search-term-button-background-color: transparent;
$search-search-term-button-box-shadow-color: transparent;
$search-search-term-button-border-left-width: 0;
$search-search-term_mat-form-field_outline-opacity: 1;
$search-search-term-button-border-width: 0px;
$search-search-term_mat-form-field_outline-border-right-width: 1px;
$search-search-term-button_icon-color: $primary-font-color-2;
$search-search-term-button-hover-background-color: $color-orange-1;
$search-search-term-button-hover-icon-color: $color-white-1;
$search-search-term_mat-form-field_outline-border-color: $primary-font-color-2;

// search filters > diabolo buttons
$button-toggle-filter_button-group-border-radius: 0;
$button-toggle-filter_button-group-border-color: $primary-font-color-2;

// search filters > select filter
$select-filter_mat-select-trigger-padding: 8px;
$select-filter_mat-select-trigger-border-width: 1px;
$select-filter_mat-select-trigger-border-color: $primary-font-color-2;
$select-filter_mat-select-value-vertical-align: middle;

// search > reset filters button
$pages-method-chapter__reset-filters-border-color: $primary-font-color-2;
$pages-method-chapter__reset-filters-width: $search-filter-height;
$pages-method-chapter__reset-filters-height: $search-filter-height;
$pages-method-chapter__reset-filters-background-color: transparent;
$pages-method-chapter__reset-filters-hover-background-color: $color-orange-1;
$pages-method-chapter__reset-filters-hover-color: $color-white-1;

// ui > file-icons
$ui-file-icon-width: 33.33px;
$ui-file-icon-height: 40px;
$ui-file-icon-padding: 0px;
$ui-file-icon-border: none;
$ui-file-icon__label-left: 0; // center horizontally
$ui-file-icon__label-right: 0; // center horizontally
$ui-file-icon__label-text-transform: unset;
$ui-file-icon__label-text-weight: bold;
$ui-file-icon__label-top: 35%;
$ui-file-icon__label-text-color: $secondary-font-color-accent;

// social media
$facebook-button-background-color: #455897;
$facebook-button-font-color: white;
$google-button-background-color: #4285f4;
$google-button-font-color: white;
$smartschool-button-background-color: #ff520e;
$smartschool-button-font-color: white;

// shared lib colors
$shared-bg-color-1: $primary-bg-color;
$shared-color-1: $primary-font-color;
$shared-bg-color-2: $secondary-bg-color;
$shared_image-bg-color: $secondary-font-color-accent;

// method-year-tile
$shared-method-year-tile_button_container_button-hover-background-color: $tertiary-bg-color;
$shared-method-year-tile_button_container_button-hover-color: $secondary-font-color-accent;
$shared-method-year-tile_button_container_button-focus-background-color: $tertiary-bg-color;
$shared-method-year-tile_container-box-shadow-color: $primary-font-color-2;
$shared-method-year-tile_button_container_button-box-shadow-color: $primary-font-color-2;

// home
$pages-home-text-color--primary: $primary-font-color-2;
$pages-home-text-color--primary--hover: $secondary-font-color-accent;
$pages-home-background-color--primary: $primary-bg-color;
$pages-home-text-color--secondary: $primary-font-color;
$pages-home-background-color--secondary: $color-gray-2;
$pages-home_image-background-color: $secondary-font-color-accent;
$pages-home-text-color--tertiary: $primary-font-color-2;
$pages-home_container_shortcuts-border-top-color: $secondary-bg-color;

// methods
$pages-methods-text-color--primary: $primary-font-color;
$pages-methods-text-color--primary--accent: $secondary-font-color-accent;
$pages-methods-background-color--primary: $primary-bg-color;
$pages-methods-border-color--primary: $color-gray-2;
$pages-methods-text-color--secondary: $primary-font-color-2;
$pages-methods-background-color--secondary: $secondary-bg-color;

//settings
$pages-settings_page-header-display: none;
$pages-settings_container-max-width: 320px;
$pages-settings_container-background-color: $color-white-1;
$pages-settings_container-box-shadow: 0px 0px 8px 2px $color-gray-3;
$pages-settings_avatar_container-width: 100%;
$pages-settings_avatar-padding-top: 60px; // (container width - badge width) / 2
$pages-settings_avatar-padding-bottom: 30px;
$pages-settings_avatar-subtext-color: $primary-font-color-2;

$pages-settings_mat-list-margin-bottom: 48px; //= mat-list-item height
$pages-settings_mat-list_item-color: $primary-font-color;
$pages-settings_mat-list_item-font-weight: bold;
$pages-settings_mat-list_item-background-color--accent: $secondary-bg-color;

$pages-settings_form-bg-color: $color-gray-2;
$pages-settings_form-padding: 72px 64px 52px 64px;
$pages-settings_form__title-margin-bottom: 32px;
$pages-settings-profile__form-box-shadow: $pages-settings_container-box-shadow;
$pages-settings-profile__form-color: $color-gray-4;
$pages-settings-profile__form-width: 500px;
