@import '~@angular/material/_theming';
@include mat-core(); // be sure to include this mixin only once
// created theme with http://mcg.mbitson.com/ (find main palette color next to '500 :')
$mat-app-primary: (
  50: #ecf5f6,
  100: #d0e6ea,
  200: #b1d5dc,
  300: #91c4cd,
  400: #7ab8c3,
  500: #62abb8,
  600: #5aa4b1,
  700: #509aa8,
  800: #4691a0,
  900: #348091,
  A100: #dcf8ff,
  A200: #a9efff,
  A400: #76e5ff,
  A700: #5de0ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-app-accent: (
  50: #f4eaef,
  100: #e4cad7,
  200: #d3a6bc,
  300: #c182a1,
  400: #b3688d,
  500: #a64d79,
  600: #9e4671,
  700: #953d66,
  800: #8b345c,
  900: #7b2549,
  A100: #ffbcd7,
  A200: #ff89b8,
  A400: #ff5699,
  A700: #ff3c8a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);
$mat-app-warn: $mat-red;
// apply custom theme to my components (https://material.angular.io/guide/theming-your-components)
$app-primary: mat-palette($mat-app-primary);
$app-accent: mat-palette($mat-app-accent, 500, 900, A100);
$app-warn: mat-palette($mat-deep-orange);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
