:host {
  width: 100%;
  padding: 18px 40px 18px 36px;
  display: flex !important;
  flex-direction: row;
}

.app-practice-searchresult {
  &__extension {
    margin: 0 18px 0 0;
  }

  &__stars {
    width: 30px;
    text-align: right;

    .mat-icon {
      display: block;
    }
  }

  &__content {
    width: 100%;
    margin-right: 18px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      color: black;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      margin-bottom: 4px;

      &__level {
        margin-left: 8px;
      }

      &__action {
        font-size: 12px;
        color: #444;

        & + .after {
          width: 1px;
          margin: 0 5px 0 5px;
          height: 10px;
          background-color: #808080;
          display: inline-block;
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: row;

      &__description {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
  }
}
