@mixin app-practice-search-result() {
  $app-practice-search-result-selected-border-width: 4px !default;
  $app-practice-search-result-selected-border-color: $primary-color-accent !default;
  $app-practice-search-result-icon-color: $primary-color-accent !default;
  $app-practice-search-result-even-background-color: $secondary-bg-color !default;

  .app-practice-searchresult {
    &.ui-list-view__list__item--selected,
    &.ui-list-view__list__item--selected > * {
      transform: none !important;
      box-shadow: none !important;
    }

    border-left: $app-practice-search-result-selected-border-width solid
      transparent;

    &.ui-list-view__list__item--selected {
      border-left: $app-practice-search-result-selected-border-width solid
        $app-practice-search-result-selected-border-color !important;
    }

    &:nth-child(odd) {
      background-color: $app-practice-search-result-even-background-color;
    }

    &__extension {
      color: $app-practice-search-result-icon-color;
    }
  }
}
