sudo: false
language: node_js
node_js:
  - 10.3
branches:
  only:
    - develop
    - deploy/staging-polpo-classroom-web
    - deploy/production-polpo-classroom-web
before_install:
  - npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN
before_script:
  - npm run lint
  - npm run format:check
  - npm run affected:test --base=$TRAVIS_BRANCH --head=HEAD
  - npm run affected:e2e --base=$TRAVIS_BRANCH --head=HEAD
script:
  -if [[ $string = *"deploy"* ]]; then npm run affected:build --base=$TRAVIS_BRANCH --head=HEAD fi
