# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# Run build on PRs to..
pr:
  - develop
  - master

# Run build on push to..
trigger:
  - develop
  - master

pool:
  name: 'Campus'

steps:
  - script: |
      echo Build information
      echo System.PullRequest.SourceBranch = $(System.PullRequest.SourceBranch)
      echo Build.SourcesDirectory = $(Build.SourcesDirectory)
    displayName: 'Build information'
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '10.x'
  - task: DeleteFiles@1
    displayName: 'Clear junit reports'
    inputs:
      contents: 'junit'
  - task: DeleteFiles@1
    displayName: 'Clear coverage reports'
    inputs:
      contents: 'coverage'
  - task: DeleteFiles@1
    displayName: 'Clear coverage summary'
    inputs:
      contents: 'reportgenerator'
  - task: Npm@1
    displayName: 'Npm install'
    inputs:
      customEndpoint: diekeure-registry
  - script: |
      npm run affected:lint -- --base remotes/origin/$(System.PullRequest.SourceBranch) --head HEAD --parallel
    displayName: 'Lint affected'
  - script: |
      npm run format:check
    displayName: 'Format check'
  - script: |
      npm run affected:test -- --base remotes/origin/$(System.PullRequest.SourceBranch) --head HEAD --parallel --configuration=travis
    displayName: 'Run tests affected'
  #todo: e2e
  #todo: System.PullRequest.SourceBranch won't work for pushes -> condition or env var needed (or pipeline variables??)
  - task: PublishTestResults@2
    displayName: 'Publish test results'
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/*.xml'
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    displayName: 'ReportGenerator: combine coverage reports'
    inputs:
      reports: $(Build.SourcesDirectory)/coverage/**/cobertura-coverage.xml
      targetdir: $(Build.SourcesDirectory)/reportgenerator
      reporttypes: 'Cobertura'
      verbosity: 'Off'
  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage summary'
    continueOnError: true # Will fail if affected:test ran no tests and ReportGenerator made nothing
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: $(Build.SourcesDirectory)/reportgenerator/Cobertura.xml
#steps:
# - script: |
#     npm install -g @angular/cli
#   displayName: 'npm install'
#- script: |
#   ng lint
#  npm run format:check
#displayName: 'linting and formatting'
#- script: |
#    CI=1 node ./node_modules/.bin/ng test --configuration=travis
#  displayName: 'Run all tests'
#- script: |
#    npm run e2e:ci
#  displayName: 'Run e2e'
