# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# Run build on push to:
trigger:
  - develop
  - master
  - test/mock-master
  - release/*

schedules:
  - cron: "30 23 * * 1-5"
    displayName: Late night build every workday
    branches:
      include:
      - develop

pool:
  name: 'Campus'

variables:
  dkRanTests: false
  dkBuild: false
  dkPublish: false
  dkE2E: false
  dkFeaturePR: false

steps:
  - script: |
      echo '##vso[task.setvariable variable=CI]1'
    displayName: 'Export environment variables'
  - script: |
      echo '##vso[task.setvariable variable=dkBuild]true'
      echo '##vso[task.setvariable variable=dkPublish]true'
    condition: and(startsWith(variables['Build.SourceBranch'], 'refs/heads/release'), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    displayName: '(Check) Enable dkBuild and dkPublish (artifacts) if pushing to release branch'
  - script: |
      echo '##vso[task.setvariable variable=dkBuild]true'
    condition: eq(variables['Build.Reason'], 'Schedule')
    displayName: '(Check) Enable dkBuild if scheduled build'
  - script: |
      echo '##vso[task.setvariable variable=dkE2E]true'
    condition: or(startsWith(variables['System.PullRequest.TargetBranch'], 'refs/heads/release'), eq(variables['dkBuild'], 'true'), and(in(variables['Build.SourceBranch'], 'refs/heads/develop'), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI')))
    displayName: '(Check) Enable dkE2E (end-to-end tests) if building, target is master or merge to develop'
  - script: |
      echo '##vso[task.setvariable variable=dkFeaturePR]true'
    condition: and(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['System.PullRequest.TargetBranch'], 'refs/heads/develop'), startsWith(variables['System.PullRequest.SourceBranch'], 'refs/heads/feature'))
    displayName: '(Check) Enable dkFeaturePR (nx affected) if starting a pull request from a feature branch'
  - script: |
      echo Build information
      echo -----------------
      echo Build.Reason = $(Build.Reason)
      echo Build.SourceBranch	= $(Build.SourceBranch)
      echo System.PullRequest.TargetBranch = $(System.PullRequest.TargetBranch)
      echo Build.SourcesDirectory = $(Build.SourcesDirectory)
      echo Build.ArtifactStagingDirectory = $(Build.ArtifactStagingDirectory)
      echo dkRanTests = $(dkRanTests)
      echo dkBuild = $(dkBuild)
      echo dkPublish = $(dkPublish)
      echo
      echo Environment
      echo -----------
      env
    displayName: 'Build information'
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '10.x'
  - script: |
      rm -rf dist
    displayName: 'Clear build output'
  - task: Npm@1
    displayName: 'Npm install'
    inputs:
      command: ci
      customEndpoint: diekeure-registry

  - script: ./node_modules/.bin/ng build --aot
    displayName: 'Build AOT'

  # Checks for file.only (Wallaby) and fdescribe/fit (jest), which can screw up build or local tests
  - script:
      if grep -ERl 'fdescribe\(|fit\(|file.only' ./apps ./libs --include=*.spec.ts; then exit 1; fi;
    displayName: 'Check for fdescribe/fit or file.only'
    condition: and(succeeded(), eq(variables['dkFeaturePR'], 'true'))

  # Runs nx affected for all feature PRs.
  - script: ./node_modules/.bin/nx affected:lint  --base=remotes/origin/develop
    displayName: 'Lint affected'
    condition: and(succeeded(), eq(variables['dkFeaturePR'], 'true'))

  # All linting for develop and master
  # TODO: optimize for release branches
  - script: |
      npm run lint
    displayName: 'Lint all'
    condition: and(succeeded(), eq(variables['dkE2E'], 'true'))

  - script: |
      npm run format:check
    displayName: 'Format check'

  - script: |
      rm -rf dist junit coverage reportgenerator
    displayName: 'Clear junit, coverage reports, build output'
  
  # Runs nx affected for all feature PRs.
  - script: ./node_modules/.bin/nx affected:test  --base=remotes/origin/develop --passWithNoTests
    displayName: 'Test affected'
    condition: and(succeeded(), eq(variables['dkFeaturePR'], 'true'))

  # All tests for develop and release branches
  - script: npm run test
    displayName: 'Test all'
    condition: and(succeeded(), eq(variables['dkE2E'], 'true'))

  - script: |
      npm run e2e:polpo:staging
    displayName: 'End-to-end all polpo'
    condition: and(succeeded(), eq(variables['dkE2E'], 'true'))
  - script: |
      npm run e2e:kabas:staging
    displayName: 'End-to-end all kabas'
    condition: and(succeeded(), eq(variables['dkE2E'], 'true'))
  - bash: |
      if [ -d "coverage" ]; then
        echo "##vso[task.setVariable variable=dkRanTests]true"
        echo Tests ran
      fi
    displayName: '(Check) Set dkRanTests to true if coverage folder exists'
  - task: PublishTestResults@2
    displayName: 'Publish test results'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/*.xml'
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    displayName: 'ReportGenerator: combine coverage reports'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      reports: $(Build.SourcesDirectory)/coverage/**/cobertura-coverage.xml
      targetdir: $(Build.SourcesDirectory)/reportgenerator
      reporttypes: 'Cobertura'
      verbosity: 'Off'
  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage summary'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: $(Build.SourcesDirectory)/reportgenerator/Cobertura.xml
  - script: |
      npm run build:polpo:staging
    displayName: '[Build] polpo:staging'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'))
  - script: |
      npm run build:polpo:production
    displayName: '[Build] polpo:production'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'))
  - script: |
      npm run build:kabas:staging
    displayName: '[Build] kabas:staging'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'))
  - script: |
      npm run build:kabas:production
    displayName: '[Build] kabas:production'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'))
  - script: |
      npm run build:elements-ink
    displayName: '[Build] timeline-editor'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'))
  - script: |
      rm -rf dist/out-tsc
    displayName: 'Remove e2e screenshots and videos from dist before copying'
  - task: CopyFiles@2
    displayName: 'Copy builds to artifacts'
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'), eq(variables['dkPublish'], 'true'))
    inputs:
      contents: 'dist/**'
      targetFolder: $(Build.ArtifactStagingDirectory)
  - task: PublishBuildArtifacts@1
    condition: and(succeeded(), eq(variables['dkBuild'], 'true'), eq(variables['dkPublish'], 'true'))
