# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# Use this combined with conditions to determine the branch name to use (PR or Push, buildreason as condition)
#- script: |
#    echo '##vso[task.setvariable variable=sauce]crushed tomatoes'

# Run build on PRs to..
pr:
  - develop
  - master

# Run build on push to..
trigger:
  - develop
  - master
  - test/mock-master

variables:
  dkRanTests: false
  dkLintTestAll: false
  dkBuild: false

pool:
  name: 'Campus'

steps:
  - bash: |
      export CYPRESS_apiUrl="https://api.staging.polpo.be/"
    displayname: 'Export environment variables'
  - script: |
      echo '##vso[task.setvariable variable=dkLintTestAll]true'
      echo '##vso[task.setvariable variable=dkBuild]true'
    condition: and(eq(variables['Build.SourceBranch'], 'refs/heads/master'), in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI'))
    displayName: '(Check) Set dkLintTestAll and dkBuild to true if push to master'
  - script: |
      echo Build information
      echo -----------------
      echo Build.Reason = $(Build.Reason)
      echo Build.SourceBranch	= $(Build.SourceBranch)
      echo System.PullRequest.TargetBranch = $(System.PullRequest.TargetBranch)
      echo Build.SourcesDirectory = $(Build.SourcesDirectory)
      echo dkRanTests = $(dkRanTests)
      echo dkLintTestAll = $(dkLintTestAll)
      echo dkBuild = $(dkBuild)
      env
    displayName: 'Build information'
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '10.x'
  - task: DeleteFiles@1
    displayName: 'Clear junit, coverage reports, build output'
    inputs:
      contents: |
        'junit'
        'coverage'
        'reportgenerator'
        'dist'
  - task: Npm@1
    displayName: 'Npm install'
    inputs:
      customEndpoint: diekeure-registry
  #- script: |
  #    npm run affected:lint -- --base remotes/origin/$(System.PullRequest.TargetBranch) --head HEAD
  #  displayName: 'Lint affected'
  #  condition: eq(variables['dkLintTestAll'], 'false')
  #- script: |
  #    npm run lint
  #  displayName: 'Lint all'
  #  condition: eq(variables['dkLintTestAll'], 'true')
  #- script: |
  #    npm run format:check
  #  displayName: 'Format check'
  #- script: |
  #    npm run affected:test -- --base remotes/origin/$(System.PullRequest.TargetBranch) --head HEAD --configuration=travis
  #  displayName: 'Test affected'
  #  condition: eq(variables['dkLintTestAll'], 'false')
  #- script: npm run test
  #  displayName: 'Test all'
  #  condition: eq(variables['dkLintTestAll'], 'true')
  #- script: |
  #  npm run affected:e2e -- --base remotes/origin/$(System.PullReequest.TargetBranch) --head "HEAD" --headless --configuration staging
  #  displayName: 'End-to-end affected'
  #  condition: eq(variables['dkLintTestAll'], 'false')
  - script: |
    npm run e2e --headless --configuration staging
    displayName: 'End-to-end all'
    condition: eq(variables['dkLintTestAll'], 'true')
  - bash: |
      if [ -d "coverage" ]; then
        echo "##vso[task.setVariable variable=dkRanTests]true"
        echo Tests ran
      fi
    displayName: '(Check) Set dkRanTests to true if coverage folder exists'
  - task: PublishTestResults@2
    displayName: 'Publish test results'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/*.xml'
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    displayName: 'ReportGenerator: combine coverage reports'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      reports: $(Build.SourcesDirectory)/coverage/**/cobertura-coverage.xml
      targetdir: $(Build.SourcesDirectory)/reportgenerator
      reporttypes: 'Cobertura'
      verbosity: 'Off'
  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage summary'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: $(Build.SourcesDirectory)/reportgenerator/Cobertura.xml
  - script: |
      npm run build:polpo:staging
    displayName: '[Build] polpo:staging'
    condition: eq(variables['dkBuild'], 'true')
  #todo: polpo production build breaks
  - script: |
      npm run build:kabas:staging
    displayName: '[Build] kabas:staging'
    condition: eq(variables['dkBuild'], 'true')
  - script: |
      npm run build:kabas:production
    displayName: '[Build] kabas:production'
    condition: eq(variables['dkBuild'], 'true')
  - task: CopyFiles@2
    displayName: 'Copy builds to artifacts'
    condition: eq(variables['dkBuild'], 'true')
    inputs:
      contents: |
        'dist/kabas-web-staging'
        'dist/kabas-web-production'
        'dist/polpo-web-staging'
      #       'dist/polpo-web-production'
      targetFolder: $(Build.ArtifactStagingDirectory)
  - task: PublishBuildArtifacts@1
    condition: eq(variables['dkBuild'], 'true')
#steps:
# - script: |
#     npm install -g @angular/cli
#   displayName: 'npm install'
#- script: |
#   ng lint
#  npm run format:check
#displayName: 'linting and formatting'
#- script: |
#    CI=1 node ./node_modules/.bin/ng test --configuration=travis
#  displayName: 'Run all tests'
#- script: |
#    npm run e2e:ci
#  displayName: 'Run e2e'
