# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

# Use this combined with conditions to determine the branch name to use (PR or Push, buildreason as condition)
#- script: |
#    echo '##vso[task.setvariable variable=sauce]crushed tomatoes'

# Run build on PRs to..
pr:
  - develop
  - master

# Run build on push to..
trigger:
  - develop
  - master

pool:
  name: 'Campus'

steps:
  - bash: |
      echo "##vso[task.setvariable variable=dkEffectiveBranch]$(System.PullRequest.SourceBranch)"
    displayName: 'Default dkEffectiveBranch to System.PullRequest.SourceBranch'
  - bash: |
      echo "##vso[task.setvariable variable=dkEffectiveBranch]$(Build.SourceBranch)""
    condition: in(variables['Build.Reason'], 'IndividualCI', 'BatchedCI')
    displayName: 'Override dkEffectiveBranch to Build.SourceBranch if not a pull request'
  - script: |
      echo Build information
      echo -----------------
      echo Build.Reason = $(Build.Reason)
      echo Build.SourceBranch	= $(Build.SourceBranch)
      echo System.PullRequest.SourceBranch = $(System.PullRequest.SourceBranch)
      echo Build.SourcesDirectory = $(Build.SourcesDirectory)
      echo dkEffectiveBranch = $(dkEffectiveBranch)
    displayName: 'Build information'
  - task: NodeTool@0
    displayName: 'Install Node.js'
    inputs:
      versionSpec: '10.x'
  - task: DeleteFiles@1
    displayName: 'Clear junit reports'
    inputs:
      contents: 'junit'
  - task: DeleteFiles@1
    displayName: 'Clear coverage reports'
    inputs:
      contents: 'coverage'
  - task: DeleteFiles@1
    displayName: 'Clear coverage summary'
    inputs:
      contents: 'reportgenerator'
  - task: Npm@1
    displayName: 'Npm install'
    inputs:
      customEndpoint: diekeure-registry
  - script: |
      npm run affected:lint -- --base remotes/origin/$(dkEffectiveBranch) --head HEAD --parallel
    displayName: 'Lint affected'
  - script: |
      npm run format:check
    displayName: 'Format check'
  - script: |
      npm run affected:test -- --base remotes/origin/$(dkEffectiveBranch) --head HEAD --parallel --configuration=travis
    displayName: 'Run tests affected'
  #todo: e2e
  #todo: System.PullRequest.SourceBranch won't work for pushes -> condition or env var needed (or pipeline variables??)
  - bash: |
      if [ -d "coverage" ]; then
        echo "##vso[task.setVariable variable=dkRanTests]true"
        echo Tests ran
      else
        echo "##vso[task.setVariable variable=dkRanTests]false"  
        echo Tests did not run
      fi
    displayName: 'If no tests ran, skip test publish and coverage'
  - task: PublishTestResults@2
    displayName: 'Publish test results'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/*.xml'
  - task: Palmmedia.reportgenerator.reportgenerator-build-release-task.reportgenerator@4
    displayName: 'ReportGenerator: combine coverage reports'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      reports: $(Build.SourcesDirectory)/coverage/**/cobertura-coverage.xml
      targetdir: $(Build.SourcesDirectory)/reportgenerator
      reporttypes: 'Cobertura'
      verbosity: 'Off'
  - task: PublishCodeCoverageResults@1
    displayName: 'Publish code coverage summary'
    condition: eq(variables['dkRanTests'], 'true')
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: $(Build.SourcesDirectory)/reportgenerator/Cobertura.xml
#steps:
# - script: |
#     npm install -g @angular/cli
#   displayName: 'npm install'
#- script: |
#   ng lint
#  npm run format:check
#displayName: 'linting and formatting'
#- script: |
#    CI=1 node ./node_modules/.bin/ng test --configuration=travis
#  displayName: 'Run all tests'
#- script: |
#    npm run e2e:ci
#  displayName: 'Run e2e'
