# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

pr:
  - develop

pool:
  name: 'Campus'

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '10.x'
    displayName: 'Install Node.js'
  - task: Npm@1
    inputs:
      customEndpoint: diekeure-registry
  # - script: |
  #     npm install -g @angular/cli
  #   displayName: 'npm install'
  #- script: |
  #   ng lint
  #  npm run format:check
  #displayName: 'linting and formatting'
  - script: |
      CI=1 node ./node_modules/.bin/ng test --configuration=travis
    displayName: 'Run all tests'
  - task: PublishTestResults@2
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: 'junit/*.xml'
  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: 'cobertura'
      summaryFileLocation: $(System.DefaultWorkingDirectory)/coverage/**/cobertura-coverage.xml
