:host {
  width: 100%;
  padding: 8px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.app-educontentsearchresult {
  &__extension {
    margin: 0 18px;
  }

  &__content {
    width: 100%;
    margin-right: 18px;
    max-width: 500px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      &__diabolo-phase {
        min-width: 38px;
        min-height: 38px;
      }

      &__action {
        &:not(:hover) {
          background-color: transparent;
        }

        margin-left: -7px;
        margin-right: 16px;
      }
    }

    &__body {
      display: flex;
      flex-direction: row;

      &__description {
        margin-bottom: 8px;
      }
    }
  }
}
