:host {
  width: 100%;
  padding: 18px 40px 18px 36px;
  display: flex !important;
  flex-direction: row;
}

.app-educontentsearchresult {
  &__extension {
    margin: 0 18px 0 0;
  }

  &__content {
    width: 100%;
    margin-right: 18px;
    max-width: 520px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        color: black;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      &__diabolo-phase {
        min-width: 38px;
        min-height: 38px;
      }

      &__action {
        font-size: 12px;
        color: #444;

        & + .after {
          content: '';
          position: relative;
          width: 1px;
          margin: 0 5px 0 5px;
          height: 10px;
          border-left: 1px solid #808080;
          overflow: hidden;
          display: inline-block;
        }
      }
    }

    &__body {
      display: flex;
      flex-direction: row;

      &__description {
        font-size: 13px;
        margin-bottom: 4px;
      }
    }
  }
}
