:host {
  width: 100%;
  padding: 8px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  max-width: 700px;
}

.app-educontentsearchresult {
  &__extension {
    margin-right: 18px;
  }

  &__content {
    width: 100%;
    margin-right: 18px;
    max-width: 500px;

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__title {
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
      }

      &__diabolo-phase {
        margin-left: auto;
        min-width: 38px;
        min-height: 38px;
      }

      &__action,
      &__action:focus {
        padding: 0;
        background: none;
        color: black;
        transition: transform 0.3s ease;
        text-decoration: underline;
        margin-right: 16px;
      }
    }

    &__body {
      display: flex;
      flex-direction: row;

      &__description {
        margin-bottom: 8px;
      }
    }
  }
}
