@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');
@import '../src/constants.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  columns: $textColor;
}

.btn {
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  border: none;
  color: white;
  background: $primary;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.content_container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  height: 100%;
}
