@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');
@import '../src/constants.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  columns: $textColor;
}

.btn {
  font-family: 'Nunito', sans-serif;
  padding: 10px 20px;
  border: none;
  color: white;
  background: $primary;
  font-weight: 900;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.content_container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  height: 100%;
}

hr {
  border: 0.5px solid $textColor;
}

h1 {
  font-family: 'Nunito', 'sans-serif';
  font-size: 36px;
  color: black;
  line-height: 40px;
  margin: 15px 0px 30px 0px;
}

h2 {
  text-transform: uppercase;
  font-size: 21px;
  color: black;
  font-weight: 600;
  margin: 5px 0px 10px 0px;
}

h3 {
  font-size: 18px;
  color: black;
  font-weight: 600;
  margin: 5px 0px 10px 0px;
}

h4 {
  font-size: 14px;
  color: $textColor;
  font-weight: 600;
  margin: 5px 0px 10px 0px;
}

form {
  .form_group {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;

    label {
      margin-bottom: 10px;
      h4 {
        margin: 0px;
      }
    }

    input:-webkit-autofill {
      background-color: transparent;
    }

    mat-select {
      margin-top: 20px;
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
}

.btnSecundary {
  color: #667eea;
  background: white;
  padding: 10px 0px;
}

.tbl {
  width: 100%;
  box-shadow: none;
  border: 1px solid $primary;
  border-left: 7px solid $primary;
}
