/*
 * css reset
 */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

/*
 * icon fonts
 */
@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/fontawesome-webfont.eot?v=4.4.0);
  src: url(/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0)
      format('embedded-opentype'),
    url(/assets/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),
    url(/assets/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),
    url(/assets/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),
    url(/assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: simple-line-icons;
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2);
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/Simple-Line-Icons.ttf?v=2.2.2) format('truetype'),
    url(/assets/fonts/Simple-Line-Icons.woff2?v=2.2.2) format('woff2'),
    url(/assets/fonts/Simple-Line-Icons.woff?v=2.2.2) format('woff'),
    url(/assets/fonts/Simple-Line-Icons.svg?v=2.2.2#simple-line-icons)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/assets/fonts/glyphicons-halflings-regular.eot);
  src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format('svg');
}

@font-face {
  font-family: polpo;
  src: url(/assets/fonts/polpo.ttf?xzjs0z) format('truetype'),
    url(/assets/fonts/polpo.woff?xzjs0z) format('woff'),
    url(/assets/fonts/polpo.svg?xzjs0z#polpo) format('svg');
  font-weight: 400;
  font-style: normal;
}

/*
 * POLPO theme
 */
// load all variables for your app theme and ui components
@import 'scss/theme-variables';

/*
 * Angular Material theme
 */
@import 'scss/theme-angular-material';
@include angular-material-theme($app-theme);
// alternative: include individual component mixins

// include ui lib scss file
@import 'libs/ui/src/lib/ui-theme';
@include ui-theme();
// alternative: include individual component mixins

// include pages lib scss files
@import 'libs/pages/shared/src/pages-theme';
@include pages-theme();

@import 'libs/pages/tasks/src/lib/pages-tasks.theme';
@include pages-tasks-theme();

@import 'libs/pages/reports/src/lib/pages-reports.theme';
@include pages-reports-theme();

@import 'libs/pages/settings/pages-settings.theme';
@include pages-settings-theme();

@import 'libs/pages/edu-contents/src/lib/pages-edu-contents.theme';
@include pages-edu-contents-theme();

// include shared lib scss
@import 'libs/shared/src/lib/shared-theme';
@include shared-theme();

// include search lib scss
@import 'libs/search/src/lib/search-theme';
@include search-theme();

@import './app/components/searchresults/edu-content-search-result.component.theme.scss';
@include edu-content-search-result-theme();

// include app specific css
@import 'scss/social-media';

[ng-reflect-router-link] {
  cursor: pointer;
}

/*
 * App styles
 */
body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

.mat-tooltip {
  white-space: pre-line;
}

.shared-header__app-bar {
  campus-button {
    span {
      display: none;
    }
  }
}

.shared-header__quicklink__button {
  span {
    display: none;
  }
}

.ui-tree-nav__node--active {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    background: 0 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #e1e5e7;
  }

  @media #{$ui-breakpoint-xsmall}, #{$ui-breakpoint-small} {
    &:after {
      display: none;
    }
  }
}

:focus {
  outline: none;
}

.hidden-item__container {
  // .hidden-item--not-hover
  // only hide if container is not hover()
  &:not(:hover) .hidden-item--not-hover:not(.hidden-item--not-selected),

  // .hidden-item--not-selected
  // only hide if container is not selected -> .ui-list-view__list__item--selected
  &:not(.ui-list-view__list__item--selected) .hidden-item--not-selected:not(.hidden-item--not-hover),

  // .hidden-item--not-hover AND .hidden-item--not-selected
  // only hide if container is not hover() AND not selected
  &:not(:hover):not(.ui-list-view__list__item--selected) .hidden-item--not-hover.hidden-item--not-selected {
    display: none;
  }
}
