// color definitions
$color-black-1: #32323a;
$color-black-2: #51515b;
$color-gray-1: #95a0aa;
$color-gray-2: #888;
$color-blue-1: #359590;

// app theme
$color-bg-primary-1: $color-black-1;
$color-bg-secondary-2: $color-black-2;
$color-text-1: $color-gray-1;
$color-text-2: $color-gray-2;
$color-active: $color-blue-1;

// ui lib theme
$ui-bg-color-1: $color-bg-primary-1;
$ui-font-color-1: $color-text-1;
$ui-font-color-2: $color-text-2;
$ui-font-color-active: $color-active;
// lib icon overrides
// $ui-icon-filter: polpo \e000;

// pages lib theme
$pages-bg-color-1: $color-bg-primary-1;
$pages-font-color-1: $color-text-1;
$pages-font-color-active: $color-active;

// app icons
$icons: (
  // imported from student.polpo style.css
    aardrijkskunde: polpo '\e923',
  aardrijkskunde-lg: polpo '\e961',
  add: polpo '\e94e',
  add-user: polpo '\e90b',
  alert: polpo '\e903',
  algebrakit: polpo '\e974',
  archive: polpo '\e937',
  archive-box: polpo '\e975',
  archive-box-lg: polpo '\e976',
  at-sign: polpo '\e900',
  balance: polpo '\e90e',
  biologie: polpo '\e924',
  biologie-lg: polpo '\e951',
  book: polpo '\e965',
  book-not: polpo '\e939',
  bundle: polpo '\e907',
  bundles: polpo '\e938',
  call: polpo '\e90c',
  cancel: polpo '\e93f',
  caret: polpo '\e91d',
  checklist: polpo '\e90f',
  checkmark: polpo '\e966',
  check-off: polpo '\e94b',
  check-on: polpo '\e94a',
  clock: polpo '\e914',
  clock2: polpo '\e93e',
  code: polpo '\e91a',
  creditcard: polpo '\e905',
  delete: polpo '\e967',
  die-keure: polpo '\e91f',
  duits: polpo '\e925',
  duits-lg: polpo '\e952',
  edit: polpo '\e91b',
  engels: polpo '\e926',
  engels-lg: polpo '\e953',
  eye: polpo '\e943',
  eye2: polpo '\e942',
  facebook: polpo '\e920',
  favorite: polpo '\e910',
  favorites: polpo '\e93b',
  favorites2: polpo '\e93a',
  filter: polpo '\e94d',
  frans: polpo '\e927',
  frans-lg: polpo '\e954',
  fysica: polpo '\e928',
  fysica-lg: polpo '\e955',
  game: polpo '\e93c',
  geschiedenis: polpo '\e929',
  geschiedenis-lg: polpo '\e956',
  godsdienst: polpo '\e92a',
  godsdienst-lg: polpo '\e957',
  groups: polpo '\e96f',
  hourglass: polpo '\e96b',
  increase: polpo '\e902',
  increase-lg: polpo '\e973',
  informatica: polpo '\e92b',
  informatica-lg: polpo '\e958',
  integraleopdrachten: polpo '\e92c',
  integraleopdrachten-lg: polpo '\e959',
  klok: polpo '\e93d',
  laptop-content: polpo '\e919',
  laptop-images: polpo '\e913',
  laptop-text: polpo '\e90d',
  lesmateriaal: polpo '\e94f',
  lichamelijkeopvoeding: polpo '\e92d',
  lichamelijkeopvoeding-lg: polpo '\e95a',
  lock: polpo '\e96c',
  maatschappelijkevorming: polpo '\e92e',
  maatschappelijkevorming-lg: polpo '\e95b',
  magnifier: polpo '\e917',
  marker: polpo '\e906',
  media: polpo '\e940',
  music: polpo '\e941',
  muzikaleopvoeding: polpo '\e92f',
  muzikaleopvoeding-lg: polpo '\e95c',
  natuurwetenschappen: polpo '\e930',
  natuurwetenschappen-lg: polpo '\e95d',
  nederlands: polpo '\e931',
  nederlands-lg: polpo '\e95e',
  open: polpo '\e908',
  phone: polpo '\e912',
  pin: polpo '\e906',
  pinterest: polpo '\e922',
  play: polpo '\e90a',
  polpo: polpo '\e91e',
  polpo-small: polpo '\e977',
  power-on: polpo '\e904',
  presentatie: polpo '\e944',
  presentation: polpo '\e91c',
  print: polpo '\e918',
  s_logo_sso_button_orange_22x36: polpo '\e968',
  s_logo_sso_button_orange_22x362: polpo '\e96a',
  school: polpo '\e916',
  search: polpo '\e917',
  send: polpo '\e970',
  share: polpo '\e911',
  sociaaleconomischeinitiatie: polpo '\e932',
  sociaaleconomischeinitiatie-lg: polpo '\e95f',
  spaans: polpo '\e933',
  spaans-lg: polpo '\e960',
  split-arrow: polpo '\e901',
  student: polpo '\e909',
  student2: polpo '\e945',
  taak: polpo '\e946',
  task: polpo '\e915',
  tasks: polpo '\e947',
  tasks-complete: polpo '\e948',
  techniek: polpo '\e934',
  techniek-lg: polpo '\e962',
  timeline: polpo '\e972',
  twitter: polpo '\e921',
  university: polpo '\e916',
  user-add: polpo '\e96e',
  user-del: polpo '\e96d',
  user-exception: polpo '\e969',
  verwijder: polpo '\e950',
  video: polpo '\e949',
  website: polpo '\e94c',
  wiskunde: polpo '\e935',
  wiskunde-lg: polpo '\e963',
  ww: polpo '\e936',
  ww-lg: polpo '\e964',
  youtube: polpo '\e971'
);
