// color definitions
$color-black-1: #32323a;
$color-black-2: #51515b;
$color-gray-1: #95a0aa;
$color-gray-2: #888;
$color-blue-1: #359590;

// app theme
$color-bg-primary-1: $color-black-1;
$color-bg-secondary-2: $color-black-2;
$color-text-1: $color-gray-1;
$color-text-2: $color-gray-2;
$color-active: $color-blue-1;

// app icons
$icons: (
  bundle: polpo "\e94f",
  tasks: polpo "\e946",
  books: polpo "\e965",
  results: polpo "\e902"
);

// ui lib theme
$ui-bg-color-1: $color-bg-primary-1;
$ui-font-color-1: $color-text-1;
$ui-font-color-active: $color-active;
// lib icon overrides
// $ui-icon-filter: polpo \e000;

// pages lib theme
$pages-bg-color-1: $color-bg-primary-1;
$pages-font-color-1: $color-text-1;
$pages-font-color-active: $color-active;
