//search term height settings
// global override
// campus-search-term {
//   campus-button {
//     height: $campus_search_term--line_height + 11px;
//   }
//   .mat-form-field-hide-placeholder {
//     margin-top: -9px;
//     .mat-form-field-infix {
//       padding: 2px;
//       border-top: 0;
//       margin-top: 0 !important;
//       line-height: $campus_search_term--line_height;
//       padding-bottom: 0.91em !important;
//     }
//     .mat-form-field-flex {
//       padding: 0 0.75em 0 0.75em;
//       margin-top: -0.35em !important;
//       position: relative;
//     }
//   }
//   // margin: 20px 10px 0;
//   .mat-form-field-appearance-outline {
//     bottom: -0.75em;
//     .mat-form-field-infix {
//       padding: 2px;
//       border-top: 0;
//       margin-top: 0.75em;
//       line-height: $campus_search_term--line_height;
//     }
//     .mat-form-field-flex {
//       padding: 0 0.75em 0 0.75em;
//       margin-top: -1em;
//       position: relative;
//     }
//   }
// }
// local override example
// $campus_search_term--line_height__override: 20px;
// .containing-container-example {
//   campus-search-term {
//     width: 250px;
//     .ui-button {
//       height: $campus_search_term--line_height__override + 11px;
//     }
//     .mat-form-field-infix {
//       line-height: $campus_search_term--line_height__override;
//     }
//   }
// }
