// social media

.facebook-btn {
  background-color: $facebook-button-background-color;
  color: $facebook-button-font-color;
}

.google-btn {
  background-color: $google-button-background-color;
  color: $google-button-font-color;
}

.smartschool-btn {
  background-color: $smartschool-button-background-color;
  color: $smartschool-button-font-color;
}
