// color definitions
$color-black-1: #32323a;
$color-black-2: #51515b;
$color-gray-1: #95a0aa;
$color-gray-2: #888;
$color-gray-3: #e1e5e7;
$color-blue-1: #359590;
$color-white-1: #fff;
$color-blue-2: #44b0aa;
$color-blue-3: #6ed3c2;
$color-orange-1: #ffa500;
$color-red-1: #ff0000;

// app > main body
$primary-bg-color: $color-gray-3;
$primary-font-color: $color-black-1;
$primary-color-accent: $color-blue-1; // link, button (borders)
$primary-font-color-2: $color-gray-1; // subtitle
$primary-font-family: 'Helvetica', 'Arial', 'Open Sans', sans-serif;
$primary-font-family-2: 'Lato', sans-serif; // title
$primary-font-size: 13px;
// app > nav + site header (shell)
$secondary-bg-color: $color-black-1;
$secondary-font-color: $color-gray-1;
$secondary-bg-color-accent: darken($color-blue-3, 40%); // active buttos, badge
$secondary-font-color-accent: $color-blue-3; // link, button (borders)
// app > panel headers
$tertiary-bg-color: $color-white-1;
$tertiary-font-color: $color-black-1;
$tertiary-bg-color-2: $color-gray-1;
$tertiary-font-color-2: $color-white-1;

// ui > main body
$ui-primary-bg-color: $primary-bg-color;
$ui-primary-font-color: $primary-font-color;
$ui-primary-font-size: $primary-font-size;
$ui-primary-color-accent: $primary-color-accent;
$ui-primary-font-color-2: $primary-font-color-2;
$ui-primary-font-family: $primary-font-family;
$ui-primary-font-family-2: $primary-font-family-2;
// ui > nav + site header (shell)
$ui-secondary-bg-color: $secondary-bg-color;
$ui-secondary-font-color: $secondary-font-color;
$ui-secondary-bg-color-accent: $secondary-bg-color-accent;
$ui-secondary-font-color-accent: $secondary-font-color-accent;
// ui > panel headers
$ui-tertiary-bg-color: $tertiary-bg-color;
$ui-tertiary-font-color: $tertiary-font-color;
$ui-tertiary-bg-color-2: $tertiary-bg-color-2;
$ui-tertiary-font-color-2: $tertiary-font-color-2;

// ui > app bar
$ui-app-bar-background-color: $color-black-2;
// ui > app shell variables
$ui-shell__left-width: 235px;
$ui-shell__top-height: 105px;
$ui-shell__logo-height: 105px;
$ui-shell__logo-background-color: $color-blue-2;

// ui > person badge > polpo override
$ui-person-badge-size-large: 72px;
$ui-person-badge-size-large-font-size: 24px;
$ui-person-badge-size-medium: 50px !default;
$ui-person-badge-size-medium-font-size: 14px !default;

$ui-page-header_section-subtitle-bg-color: $color-blue-2;

// ui > forms
$ui-form-button-default-bg-color: $color-gray-3;
$ui-form-button-primary-bg-color: $color-blue-2;

// social media
$facebook-button-background-color: #455897 !default;
$facebook-button-font-color: white !default;
$google-button-background-color: #4285f4 !default;
$google-button-font-color: white !default;
$smartschool-button-background-color: #ff520e !default;
$smartschool-button-font-color: white !default;

@import '_logos';
