// color definitions
$color-black-1: #32323a;
$color-black-2: #51515b;
$color-gray-1: #95a0aa;
$color-gray-2: #888;
$color-gray-3: #e1e5e7;
$color-blue-1: #359590;
$color-white-1: #fff;
$color-blue-2: #44b0aa;
$color-blue-3: #6ed3c2;
$color-orange-1: #ffa500;
$color-red-1: #ff0000;

// app theme
$color-bg-primary-1: $color-black-1;
$color-bg-secondary-1: $color-black-2;
$color-bg-primary-contrast-1: $color-white-1;
$color-text-primary: $color-black-1;
$color-text-1: $color-gray-1;
$color-text-2: $color-gray-2;
$color-text-3: $color-white-1;
$color-active: $color-blue-1;
$color-active-secundary: $color-blue-3;
$color-warning-1: $color-orange-1;
$color-danger-1: $color-red-1;

// ui lib theme
$ui-bg-color-1: $color-bg-primary-1;
$ui-bg-color-2: $color-bg-primary-contrast-1;
$ui-font-color-primary: $color-text-primary;
$ui-font-color-1: $color-text-1;
$ui-font-color-2: $color-text-2;
$ui-font-color-active: $color-active;
$ui-font-color-3: $color-text-3;
$ui-font-color-active-secundary: $color-active-secundary;

// lib icon overrides
// $ui-icon-filter: polpo \e000;

// pages lib theme
$pages-bg-color-1: $color-bg-primary-1;
$pages-bg-color-2: $color-bg-primary-contrast-1;
$pages-font-color-1: $color-text-1;
$pages-font-color-active: $color-active;

// app shell variables
$ui-shell__left-width: 235px;
$ui-shell__left-background-color: $color-black-1;
$ui-shell__top-height: auto;
$ui-shell__top-background-color: $color-black-2;
$ui-shell__logo-height: 105px;
$ui-shell__logo-background-color: $color-blue-2;
$ui-shell__body-background-color: $color-gray-3;

@import '_logos';
@import '_icons';
