:host {
  width: 100%;
}

.app-educontentsearchresult {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;

  &__top {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;

    campus-file-extension {
      margin-right: 16px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            font-size: 16px;
          }
        }

        &__icons {
        }
      }

      &__methods {
        display: flex;
        flex-direction: row;
        transform: scale(0.5);
        transform-origin: 0 0;
        height: 48px;

        span {
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: clip;

    &__buttonbar {
      display: flex;
      flex-direction: row;
    }
  }
}
