:host {
  width: 100%;
}

@for $i from 0 through 10 {
  .toc-depth-#{$i} {
    margin-left: $i * 12px;
  }
}

.app-educontentsearchresult {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;

  &__top {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;

    campus-file-extension {
      margin-right: 16px;
    }

    &__details {
      display: flex;
      flex-direction: column;
      flex: 1 0 auto;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__title {
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            display: inline-block;
            height: 32px;
            line-height: 32px;
            font-size: 16px;
          }
        }

        &__icons {
        }
      }

      &__methods {
        display: flex;
        flex-direction: row;
        transform: scale(0.5);
        transform-origin: 0 0;
        height: 48px;

        span {
          pointer-events: none;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: clip;

    &__contents {
      &__producttype,
      &__tocheader,
      &__pedagogic {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      &__toc {
        ul {
          margin: 0;
          padding-left: 28px;
          list-style-type: square;
        }
      }
    }

    &__buttonbar {
      display: flex;
      flex-direction: row;
    }
  }
}
