:host {
  width: 100%;
}

.app-educontentsearchresult {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;

  &__top {
    display: flex;
    flex-direction: row;

    campus-file-extension {
      margin-right: 16px;
    }

    &__details {
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
        flex-direction: row;

        &__title {
          align-self: flex-start;
        }

        &__icons {
          align-self: flex-end;
        }
      }

      &__methods {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-overflow: clip;

    &__buttonbar {
      display: flex;
      flex-direction: row;
    }
  }
}
