@mixin edu-content-search-result-theme() {
  $educontentsearchresult-margin: 0 20px 10px 0 !default;

  $educontentsearchresult-title-fontsize: 18px !default;
  $educontentsearchresult-title-height: 32px !default;

  $educontentsearchresult-methods-scale: 0.5 !default;
  $educontentsearchresult-methods-margin-bottom: (
    -$campus-method-logo-height * (1 - $educontentsearchresult-methods-scale)
  ) !default;

  $educontentsearchresult-border-thickness: 3px !default;
  $educontentsearchresult-border-color: $ui-tertiary-bg-color !default;

  $educontentsearchresult-top-backgroundcolor: $ui-tertiary-bg-color !default;
  $educontentsearchresult-top-color: $ui-tertiary-font-color !default;
  $educontentsearchresult-top-icons-color: $ui-tertiary-color-accent !default;
  $educontentsearchresult-top-padding: 10px 15px !default;
  $educontentsearchresult-top-footer-margin-top: 8px !default;

  $educontentsearchresult-selected-top-backgroundcolor: $ui-tertiary-bg-color-2 !default;
  $educontentsearchresult-selected-top-color: $ui-tertiary-font-color-2 !default;
  $educontentsearchresult-selected-top-icons-color: $ui-tertiary-font-color-2 !default;

  $educontentsearchresult-bottom-contents-backgroundcolor: $ui-app-bar-background-color !default;
  $educontentsearchresult-bottom-contents-color: $ui-secondary-font-color !default;
  $educontentsearchresult-bottom-contents-padding: 8px !default;
  $educontentsearchresult-bottom-contents-max-height: 100px !default;

  $educontentsearchresult-bottom-buttonbar-backgroundcolor: $ui-button-bg-color-1 !default;
  $educontentsearchresult-bottom-buttonbar-hover-backgroundcolor: darken(
    $educontentsearchresult-bottom-buttonbar-backgroundcolor,
    2
  ) !default;
  $educontentsearchresult-bottom-buttonbar-button-height: 70px !default;
  $educontentsearchresult-bottom-buttonbar-color: $ui-button-font-color !default;
  $educontentsearchresult-toc-margin: 12px !default;
  $educontentsearchresult-toc-padding-left: 28px !default;
  $educontentsearchresult-toc-list-style-type: square !default;
  @for $i from 0 through 10 {
    .toc-depth-#{$i} {
      margin-left: $i * $educontentsearchresult-toc-margin;
    }
  }
  .app-educontentsearchresult {
    margin: $educontentsearchresult-margin;
    border: $educontentsearchresult-border-thickness solid
      $educontentsearchresult-border-color;
    &__top {
      background-color: $educontentsearchresult-top-backgroundcolor;
      color: $educontentsearchresult-top-color;
      padding: $educontentsearchresult-top-padding;
      campus-file-extension,
      &__thumbnail {
        margin-right: 16px;
      }
      &__thumbnail {
        width: 84px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &__details {
        &__header {
          &__title {
            mat-icon {
              color: $educontentsearchresult-top-icons-color;
            }
            span {
              height: $educontentsearchresult-title-height;
              line-height: $educontentsearchresult-title-height;
              font-size: $educontentsearchresult-title-fontsize;
            }
          }
          &__icons {
            color: $educontentsearchresult-top-icons-color;
          }
        }
        &__footer {
          margin-top: $educontentsearchresult-top-footer-margin-top;
        }
        &__methods {
          height: auto;
          margin-bottom: $educontentsearchresult-methods-margin-bottom;
          transform: scale($educontentsearchresult-methods-scale);
          transform-origin: 0 0;
        }
      }
    }
    &.selected &__top {
      background-color: $educontentsearchresult-selected-top-backgroundcolor;
      color: $educontentsearchresult-selected-top-color;
    }
    &.selected &__top mat-icon {
      color: $educontentsearchresult-selected-top-icons-color;
    }
    &__bottom {
      &__contents {
        background-color: $educontentsearchresult-bottom-contents-backgroundcolor;
        color: $educontentsearchresult-bottom-contents-color;
        padding: $educontentsearchresult-bottom-contents-padding;
        padding-left: 115px;
        max-height: $educontentsearchresult-bottom-contents-max-height;
        overflow-y: auto;
        &__toc-body {
          padding-left: $educontentsearchresult-toc-padding-left;
          ul {
            list-style-type: $educontentsearchresult-toc-list-style-type;
          }
        }
      }
      &__buttonbar {
        background-color: $educontentsearchresult-bottom-buttonbar-backgroundcolor;
        campus-button:hover {
          background-color: $educontentsearchresult-bottom-buttonbar-hover-backgroundcolor;
        }
        campus-button {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: $educontentsearchresult-bottom-buttonbar-button-height;
          margin: 0;
          background-color: $educontentsearchresult-bottom-buttonbar-backgroundcolor;
          color: $educontentsearchresult-bottom-buttonbar-color;
          border-right: 1px solid $educontentsearchresult-border-color;
          position: relative;
          flex-grow: 1;
          max-width: 25%;
          mat-icon.checkmark {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 16px;
            height: 16px;
          }
          mat-icon:not(.checkmark) {
            background-color: $educontentsearchresult-bottom-buttonbar-color !important;
            border-radius: 50%;
            padding: 4px;
            height: 32px;
            width: 32px;
            color: $educontentsearchresult-bottom-buttonbar-backgroundcolor;
          }
        }
      }
    }
  }
}
