<campus-shell
  [sidebarOpen]="sideNavOpen$ | async"
  (sidebarToggled)="onSideBarToggle($event)"
>
  <campus-shell-logo> logo </campus-shell-logo>
  <campus-shell-left>
    <campus-tree-nav
      [treeNav]="sideNavItems$ | async"
      (navItemChanged)="onNavItemChanged($event)"
    ></campus-tree-nav
  ></campus-shell-left>
  <campus-shell-top
    ><campus-header
      breadcrumbPosition="page-left"
      quicklinkPosition="top-right"
      alertsPosition="top-right"
      profileLinkPosition="top-right"
    ></campus-header
    ><campus-banner
      *ngIf="(bannerFeedback$ | async) as bannerFeedback"
      [id]="bannerFeedback.id"
      [message]="bannerFeedback.message"
      [icon]="bannerFeedback.icon"
      [actions]="bannerFeedback.userActions"
      (afterDismiss)="onBannerDismiss($event)"
    ></campus-banner>
  </campus-shell-top>
  <campus-shell-body> <router-outlet></router-outlet> </campus-shell-body>
</campus-shell>
