<campus-shell
  [sidebarOpen]="sideNavOpen$ | async"
  (sidebarToggled)="onSideBarToggle($event)"
>
  <campus-shell-logo> logo </campus-shell-logo>
  <campus-shell-left>
    <campus-tree-nav
      [treeNav]="navigationItems$ | async"
      (navItemChanged)="onNavItemChanged($event)"
    ></campus-tree-nav
  ></campus-shell-left>
  <campus-shell-top
    ><campus-header></campus-header
    ><button [routerLink]="['search']">go to search</button>
  </campus-shell-top>
  <campus-shell-body> <router-outlet></router-outlet> </campus-shell-body>
</campus-shell>
