@import '../../../constants.scss';

.home_container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: 'image tutorial';

  &_image {
    grid-area: image;
    background-image: url('../../../assets/mockup_realtimewhiteboard.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  &_tutorial {
    grid-area: tutorial;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 70px;

    .mat-stepper-vertical {
      margin-top: 8px;

      .stepper_title {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 900;
      }

      .stepper_text {
        font-size: 18px;
        color: $textColor;
      }
    }
  }
}
