<!-- <button (click)="login()">Login</button> -->
<ng-container *ngIf="loggedIn">
  <div>
    Kies een whiteboard:
    <button
      *ngFor="let id of eduContentMetadataIds"
      (click)="eduContentMetadataId = id"
      >{{ id }}</button
    >
  </div>
  <button *ngIf="!!eduContentMetadataId" (click)="toggleCanManage()">{{
    canManage ? 'Toon als leerkracht' : 'Toon als redacteur'
  }}</button>

  <button *ngIf="!!eduContentMetadataId" (click)="openInWrapper()"
    >Toon in de wrapper</button
  >
</ng-container>

<ng-container *ngIf="apiBase && eduContentMetadataId">
  <campus-whiteboard-standalone
    [apiBase]="apiBase"
    [eduContentMetadataId]="eduContentMetadataId"
    [canManage]="canManage"
  ></campus-whiteboard-standalone>
</ng-container>
