<campus-shell
  *ngIf="this.useShell"
  [sidebarOpen]="sideNavOpen$ | async"
  (sidebarToggled)="onSideBarToggle($event)"
>
  <campus-shell-logo>
    <a href="{{ websiteUrl }}">
      <img src="/assets/images/polpo.png" alt="Polpo" />
    </a>
  </campus-shell-logo>
  <campus-shell-left>
    <campus-tree-nav
      [treeNav]="navItems$ | async"
      (navItemChanged)="onNavItemChanged($event)"
    ></campus-tree-nav>
  </campus-shell-left>
  <campus-shell-top>
    <campus-header
      breadcrumbPosition="top-left"
      alertsPosition="top-right"
      profileMenuPosition="top-right"
      quicklinkPosition="page-right"
    ></campus-header>
    <campus-banner
      *ngIf="(bannerFeedback$ | async) as bannerFeedback"
      [id]="bannerFeedback.id"
      [message]="bannerFeedback.message"
      [icon]="bannerFeedback.icon"
      [actions]="bannerFeedback.userActions"
      (afterDismiss)="onBannerDismiss($event)"
    ></campus-banner>
  </campus-shell-top>
  <campus-shell-body> <router-outlet></router-outlet> </campus-shell-body>
</campus-shell>

<router-outlet *ngIf="!this.useShell"></router-outlet>
