.info_group {
  margin-top: 20px;

  .sharelink {
    font-family: 'DM Mono', monospace;
    background-color: #f0f2f6;
    padding: 20px 25px;
    width: fit-content;
    p {
      font-size: 14px;
    }
  }
}
