<h2>Session info</h2>
<hr />
<div class="info_group">
  <h3>Titel</h3>
  <p>{{ data.title }}</p>
</div>
<div class="info_group">
  <h3>Share this link</h3>
  <div class="sharelink" (click)="copyMessage(data.sharelink)" matRipple>
    <p>{{ data.sharelink }}</p>
  </div>
</div>
<div class="info_group">
  <h3>Pincode</h3>
  <p>{{ data.pincode }}</p>
</div>
<div class="info_group">
  <h3>Active players</h3>
  <div *ngIf="data.players">
    <campus-playertable [players]="data.players"></campus-playertable>
  </div>
</div>
