<h2>Create a new session</h2>
<h4>Fill in the session details</h4>
<hr />
<form>
  <div class="form_group">
    <mat-form-field>
      <mat-label><h4>Title</h4></mat-label>
      <input matInput [formControl]="titleFormControl" />
      <mat-error *ngIf="titleFormControl.hasError('minlength')">
        Title should be at least 3 characters long
      </mat-error>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form_group">
    <mat-form-field>
      <mat-label><h4>Teacher name</h4></mat-label>
      <input matInput [formControl]="nameFormControl" />
      <mat-error *ngIf="nameFormControl.hasError('minlength')">
        Name should be at least 3 characters long
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form_group">
    <mat-form-field>
      <mat-label><h4>Pincode</h4></mat-label>
      <input type="number" matInput [formControl]="pincodeFormControl" />
      <mat-error *ngIf="pincodeFormControl.hasError('min')">
        Pincode should be between 0 and 999999
      </mat-error>
      <mat-error *ngIf="pincodeFormControl.hasError('max')">
        Pincode should be between 0 and 999999
      </mat-error>
      <mat-error *ngIf="pincodeFormControl.hasError('required')">
        Pincode is required
      </mat-error>
    </mat-form-field>
  </div>
</form>
<div *ngIf="message !== undefined">
  <p class="message">{{ message }}</p>
</div>
<div class="sessionsettup_dialog_actions">
  <button class="btn btnPrimary" (click)="createSession()">Create</button>
  <button class="btn btnSecundary" (click)="cancel()">cancel</button>
</div>
