<div class="realtime_container">
  <ng-container *ngIf="loggedIn; else logIn">
    <campus-whiteboard
      *ngIf="whiteboard$ | async as whiteboard"
      [title]="whiteboard.title"
      [defaultColor]="whiteboard.defaultColor"
      [cards]="whiteboard.cards"
      [shelfCards]="whiteboard.shelfCards"
      [canManage]="false"
      [uploadImageResponse]="imageUploadResponse$ | async"
      (whiteboardChange)="updateWhiteboard($event)"
      (cardChange)="updateCard($event)"
      (uploadImage)="updateCardImage($event)"
    ></campus-whiteboard>
  </ng-container>
  <ng-template #logIn>
    <campus-joinsession
      (joinSession)="joinSession($event)"
      [message]="message"
    ></campus-joinsession>
  </ng-template>
</div>
