<div class="realtime_container" *ngIf="session !== undefined">
  <ng-container *ngIf="loggedIn; else logIn">
    <campus-whiteboard
      *ngIf="session?.whiteboard"
      [title]="session.whiteboard.title"
      [defaultColor]="session.whiteboard.defaultColor"
      [cards]="session.whiteboard.cards"
      [shelfCards]="session.whiteboard.shelfCards"
      [canManage]="false"
      [uploadImageResponse]="imageUploadResponse$ | async"
      (whiteboardChange)="updateWhiteboard($event)"
      (cardChange)="updateCard($event)"
      (uploadImage)="updateCardImage($event)"
    ></campus-whiteboard>
  </ng-container>
  <ng-template #logIn>
    <campus-joinsession
      (joinSession)="joinSession($event)"
      [message]="message"
    ></campus-joinsession>
  </ng-template>
</div>
