@import '../../../constants.scss';

.joinSession_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gradient;

  #section_joinSession {
    background: white;
    padding: 25px;
    border-radius: 10px;

    .joinSession_actions {
      width: 100%;
      .btn {
        width: 100%;
      }
    }
  }
}
