@import '../../../constants.scss';

nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 70px;
  background: white;
  border-bottom: 1px solid $primary;

  #nav_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
