<nav>
  <div class="content_container" id="nav_container">
    <ng-container *ngIf="session?.lives; else noSession">
      <div class="nav_item">
        <button class="btn btnPrimary" (click)="stopSession()"
          >Stop session</button
        >
      </div>
      <div class="nav_item">
        <button class="btn btnSecundary" (click)="openInfoModal()">
          info
        </button>
      </div>
    </ng-container>
    <ng-template #noSession>
      <div class="nav_item">
        <button class="btn btnPrimary" (click)="setupSession()"
          >start session</button
        >
      </div>
    </ng-template>
  </div>
</nav>
