@import '../../../constants.scss';

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;
  width: 250px;
  height: 100%;
  min-height: 100vh;
  border-right: 1px solid $primary;
  transition: all 0.3s;

  .nav_controller {
    margin-top: 25px;
    margin-bottom: 70px !important;
  }

  .nav_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $primary;
    padding-left: 30px;
    margin-bottom: 35px;
    cursor: pointer;

    &:hover {
      color: $secundary;
    }
    &_content {
      font-weight: 900;
      font-size: 18px;
      margin-left: 20px;
      transition: all 0.3s;
    }
    &_icon {
      transition: all 0.3s;
    }
  }

  &.minimized {
    width: 70px;
    background: $gradient;
    border-right: 0px;

    .nav_item {
      padding-left: 0px;
      justify-content: center;
      color: white;
    }
  }
}

.nav_card_details {
  min-width: 300px;
  width: fit-content;
  overflow-y: scroll;

  &_cardlist {
    padding-left: 30px;
    padding-right: 55px;
    width: 100%;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
