<nav>
  <div class="content_container" id="nav_container">
    <ng-container *ngIf="!session?.lives; else sessionLives">
      <div class="nav_item">
        <button class="btn btnPrimary" (click)="setupSession()"
          >start session</button
        >
      </div>
    </ng-container>
    <ng-template #sessionLives>
      <div class="nav_item">
        <button class="btn btnPrimary" (click)="stopSession()"
          >Stop session</button
        >
      </div>
      <div class="nav_item">
        <button class="btn btnSecundary" (click)="addPlayer()"
          >Add player</button
        >
      </div>
      <div class="nav_item">
        <button class="btn btnSecundary" (click)="openActivePlayersModal()">
          Players
        </button>
      </div>
    </ng-template>
  </div>
</nav>
