/* You can add global styles to this file, and also import other style files */

/*
 * css reset
 */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import 'libs/ui/src/lib/breakpoints.scss';

/*
 * Angular Material theme
 */
@import 'scss/theme-angular-material';
@include angular-material-theme($polpo-theme);

// load all variables for your app theme and ui components
@import 'scss/theme-variables';

// include ui lib scss file
@import 'libs/ui/src/lib/ui-theme';
@include ui-theme();

// include pages lib scss files
@import 'libs/pages/methods/src/lib/pages-methods.theme';
@include pages-methods-theme();
@import 'libs/pages/global-search/src/lib/pages-global-search.theme';
@include pages-global-search-theme();
@import 'libs/pages/home/src/lib/pages-home.theme';
@include pages-home-theme();

// include shared lib scss
@import 'libs/shared/src/lib/shared-theme';
@include shared-theme();

// include search lib scss
@import 'libs/search/src/lib/search-theme';
@include search-theme();

[ng-reflect-router-link] {
  cursor: pointer;
}

/*
 * App styles
 */
body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

.ui-shell__logo {
  text-align: center;
  padding-top: 25px;
}

.ui-shell__logo {
  text-align: center;
  padding-top: 25px;
}

.ui-tree-nav__node--active {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 8px;
    background: 0 0;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #e1e5e7;
  }

  @media #{$ui-breakpoint-xsmall},
  #{$ui-breakpoint-small} {
    &:after {
      display: none;
    }
  }
}

#page-bar-container campus-button span {
  text-align: center;
  margin-top: 5px;
  color: #000;
}

.ui-breadcrumbs a {
  color: #000000;
}

.mat-drawer-side {
  border-right: none;
}

#page-bar-container {
  margin-right: 180px;
}

#page-bar-container campus-button {
  margin-right: 30px;
}

header.ui-app-bar {
  .ui-app-bar__section--align-end {
    padding-left: 0;
    padding-right: 192px;
    justify-content: flex-end;
    order: 1;
    flex: 0 0 auto;

    campus-button {
      span {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 32px;
      }
    }
  }
}

.ui-shell__logo {
  img {
    margin-top: 16px;
  }
}

#global-search-btn {
  color: #c48ec5;
  fill: #c48ec5;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 10px;
}

#global-search-btn:hover {
  filter: brightness(85%);
}

#global-favorites-btn {
  color: #e09fa5;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 10px;
}

#global-favorites-btn:hover {
  filter: brightness(85%);
}

#global-history-btn {
  color: #88bee8;
  fill: #88bee8;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 10px;
}

#global-history-btn:hover {
  filter: brightness(85%);
}

#global-profile-btn {
  color: #dfa64f;
  fill: #dfa64f;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 10px;
}

#global-profile-btn:hover {
  filter: brightness(85%);
}
#global-alert-btn {
  color: #8ec5a3;
  fill: #8ec5a3;
  background-color: transparent;
  flex-direction: column;
  margin-bottom: 10px;
}
#global-alert-btn:hover {
  filter: brightness(85%);
}

.shared-header {
  .shared-header__quicklink__button .shared-header__quicklink__button__label {
    display: inline-block;
  }

  .shared-header__alerts
    .shared-header__alerts__button
    .shared-header__alerts__button__label {
    display: inline-block;
  }

  margin-top: 60px;
}
/*
 * icon fonts
 */
@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/fontawesome-webfont.eot?v=4.4.0);
  src: url(/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0)
      format('embedded-opentype'),
    url(/assets/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),
    url(/assets/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),
    url(/assets/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),
    url(/assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: simple-line-icons;
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2);
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/Simple-Line-Icons.ttf?v=2.2.2) format('truetype'),
    url(/assets/fonts/Simple-Line-Icons.woff2?v=2.2.2) format('woff2'),
    url(/assets/fonts/Simple-Line-Icons.woff?v=2.2.2) format('woff'),
    url(/assets/fonts/Simple-Line-Icons.svg?v=2.2.2#simple-line-icons)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/assets/fonts/glyphicons-halflings-regular.eot);
  src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format('svg');
}

@font-face {
  font-family: polpo;
  src: url(/assets/fonts/polpo.ttf?xzjs0z) format('truetype'),
    url(/assets/fonts/polpo.woff?xzjs0z) format('woff'),
    url(/assets/fonts/polpo.svg?xzjs0z#polpo) format('svg');
  font-weight: 400;
  font-style: normal;
}
