/* You can add global styles to this file, and also import other style files */

/*
 * css reset
 */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import 'libs/ui/src/lib/breakpoints.scss';

/*
 * Angular Material theme
 */
@import 'scss/theme-angular-material';
@include angular-material-theme($app-theme);
@include angular-material-typography($app-typography);

// load all variables for your app theme and ui components
@import 'scss/theme-variables';

// include ui lib scss file
@import 'libs/ui/src/lib/ui-theme';
@include ui-theme();

// include pages lib scss files
@import 'libs/pages/shared/src/pages-theme';
@include pages-theme();
@import 'libs/pages/methods/src/lib/pages-methods.theme';
@include pages-methods-theme();
@import 'libs/pages/practice/src/lib/pages-practice.theme';
@include pages-practice-theme();
@import 'libs/pages/global-search/src/lib/pages-global-search.theme';
@include pages-global-search-theme();
@import 'libs/pages/home/src/lib/pages-home.theme';
@include pages-home-theme();
@import 'libs/pages/settings/pages-settings.theme';
@include pages-settings-theme();
@import 'libs/pages/practice/src/lib/pages-practice.theme';
@include pages-practice-theme();
@import 'libs/pages/kabas-tasks/src/lib/pages-kabas-tasks.theme';
@include pages-kabas-tasks-theme();

// include shared lib scss
@import 'libs/shared/src/lib/shared-theme';
@include shared-theme();

// include search lib scss
@import 'libs/search/src/lib/search-theme';
@include search-theme();

@import './app/components/searchresults/edu-content-search-result/edu-content-search-result.component.theme';
@include app-edu-content-search-result();

@import './app/components/searchresults/practice-search-result/practice-search-result.component.theme';
@include app-practice-search-result();

[ng-reflect-router-link] {
  cursor: pointer;
}

/*
 * App styles
 */
body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

h2 {
  font-weight: normal;
}

p {
  margin: 0 0 1em 0;
}

.mat-drawer-side {
  border-right: none;
}

.mat-tooltip {
  white-space: pre-line;
}

.ui-shell {
  &__logo {
    img {
      margin-top: 28px;
    }
  }

  &__left__content {
    padding-top: 15px;
  }
}

#global-search-btn {
  color: $color-lila-1;
  fill: $color-lila-1;
  background-color: transparent;
  flex-direction: column;
  order: 1;

  &:hover {
    filter: brightness(85%);
  }
}

#global-favorites-btn {
  color: $color-red-2;
  background-color: transparent;
  flex-direction: column;
  order: 3;

  &:hover {
    filter: brightness(85%);
  }
}

#global-history-btn {
  color: $color-blue-1;
  fill: $color-blue-1;
  background-color: transparent;
  flex-direction: column;
  order: 2;

  &:hover {
    filter: brightness(85%);
  }
}

#global-profile-btn {
  color: $color-orange-1;
  fill: $color-orange-1;
  background-color: transparent;
  flex-direction: column;
  order: 5;

  &:hover {
    filter: brightness(85%);
  }
}

.shared-header__alerts {
  order: 4;
}

#global-alert-btn {
  color: $color-green-1;
  fill: $color-green-1;
  background-color: transparent;
  flex-direction: column;

  &:hover {
    filter: brightness(85%);
  }
}

/* Material checkboxes */
.mat-checkbox .mat-checkbox-frame,
.mat-checkbox-checked .mat-checkbox-background {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid $primary-color-accent;
}

.mat-checkbox {
  &-disabled {
    .mat-checkbox-frame,
    .mat-checkbox-background {
      border: 2px solid $primary-font-color-2 !important;
    }

    .mat-checkbox-checkmark-path {
      stroke: $primary-font-color-2 !important;
    }
  }

  &-checkmark {
    padding: 1px !important;

    &-path {
      background-color: transparent;
      stroke: $primary-color-accent !important;
      stroke-width: 3px !important;
    }
  }
}

.mat-checkbox-checked.mat-primary,
.mat-checkbox-checked.mat-accent {
  .mat-checkbox-background {
    background-color: transparent;
  }
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-primary
  .mat-checkbox-ripple
  .mat-ripple-element {
  background-color: $secondary-font-color-accent;
}

.mat-checkbox .mat-checkbox-inner-container {
  height: 24px;
  width: 24px;
}

/* ng material tabs */
.mat-tab-body-content {
  padding: $kabas-page-vertical-padding $kabas-page-horizontal-padding;
}

/* page specifics */
.pages-home__container,
.pages-methods-overview,
.pages-practice-overview,
.pages-manage-practice-overview,
.pages-settings-profile,
.pages-settings-dashboard,
.pages-settings-alerts {
  position: relative;
  padding-top: 10px;

  > * {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 197px;
    background: $shared_header__page-bar_background;
    z-index: 0;
  }
}

.search-results {
  .ui-list-view__list {
    align-items: flex-start !important;
  }
}

.search-results {
  .ui-list-view__list {
    align-items: flex-start !important;
  }
}

.pages-practice__container {
  .pages-practice__book-list {
    margin-bottom: $kabas-page-horizontal-padding;
  }
}

.pages-home__container {
  &.no-favorites {
    padding-top: $kabas-page-vertical-padding;

    &:after {
      display: none;
    }
  }

  &__shortcuts__list__shortcut {
    &--methods mat-icon {
      fill: $color-lila-1;
      width: 64px;
    }

    &--tasks mat-icon {
      fill: $color-green-1;
    }

    &--results mat-icon {
      fill: $color-orange-1;
    }

    &--differentiate mat-icon {
      fill: $color-red-1;
    }
  }
}

.ui-multi-check-box-table {
  margin: 0 (-$kabas-page-horizontal-padding);

  th:first-child,
  td:first-child {
    padding-left: $kabas-page-horizontal-padding;
    border-left: none;
  }

  th:last-child,
  td:last-child {
    padding-right: $kabas-page-horizontal-padding;
    border-right: none;
  }
}

.method-chapter {
  campus-search {
    margin: 0 (-$kabas-page-horizontal-padding) (-$kabas-page-vertical-padding)
      (-$kabas-page-horizontal-padding);
  }

  &--filters {
    margin: (-$kabas-page-vertical-padding) (-$kabas-page-horizontal-padding) 0
      (-$kabas-page-horizontal-padding);
  }
}

//forms

.mat-form-field-underline {
  opacity: 0;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $color-white-1;
  border: 1px solid $color-gray-4;
  border-radius: 1px !important;
}

@import 'scss/theme-file-icons';

/*
 * icon fonts
 */
@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/fontawesome-webfont.eot?v=4.4.0);
  src: url(/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0)
      format('embedded-opentype'),
    url(/assets/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),
    url(/assets/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),
    url(/assets/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),
    url(/assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: simple-line-icons;
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2);
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/Simple-Line-Icons.ttf?v=2.2.2) format('truetype'),
    url(/assets/fonts/Simple-Line-Icons.woff2?v=2.2.2) format('woff2'),
    url(/assets/fonts/Simple-Line-Icons.woff?v=2.2.2) format('woff'),
    url(/assets/fonts/Simple-Line-Icons.svg?v=2.2.2#simple-line-icons)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/assets/fonts/glyphicons-halflings-regular.eot);
  src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format('svg');
}

@font-face {
  font-family: polpo;
  src: url(/assets/fonts/polpo.ttf?xzjs0z) format('truetype'),
    url(/assets/fonts/polpo.woff?xzjs0z) format('woff'),
    url(/assets/fonts/polpo.svg?xzjs0z#polpo) format('svg');
  font-weight: 400;
  font-style: normal;
}
