/* You can add global styles to this file, and also import other style files */

/*
 * css reset
 */
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

@import 'libs/ui/src/lib/breakpoints.scss';

/*
 * Angular Material theme
 */
@import 'scss/theme-angular-material';
@include angular-material-theme($polpo-theme);

// load all variables for your app theme and ui components
@import 'scss/theme-variables';

// include ui lib scss file
@import 'libs/ui/src/lib/ui-theme';
@include ui-theme();

// include pages lib scss files
@import 'libs/pages/methods/src/lib/pages-methods.theme';
@include pages-methods-theme();
@import 'libs/pages/global-search/src/lib/pages-global-search.theme';
@include pages-global-search-theme();
@import 'libs/pages/home/src/lib/pages-home.theme';
@include pages-home-theme();

// include shared lib scss
@import 'libs/shared/src/lib/shared-theme';
@include shared-theme();

// include search lib scss
@import 'libs/search/src/lib/search-theme';
@include search-theme();

[ng-reflect-router-link] {
  cursor: pointer;
}

/*
 * App styles
 */
body {
  font-family: $primary-font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
}

.mat-drawer-side {
  border-right: none;
}

.ui-shell__logo {
  img {
    margin-top: 20px;
  }
}

#global-search-btn {
  color: $color-lila-1;
  fill: $color-lila-1;
  background-color: transparent;
  flex-direction: column;
  order: 1;

  &:hover {
    filter: brightness(85%);
  }
}

#global-favorites-btn {
  color: $color-red-2;
  background-color: transparent;
  flex-direction: column;
  order: 3;

  &:hover {
    filter: brightness(85%);
  }
}

#global-history-btn {
  color: $color-blue-1;
  fill: $color-blue-1;
  background-color: transparent;
  flex-direction: column;
  order: 2;

  &:hover {
    filter: brightness(85%);
  }
}

#global-profile-btn {
  color: $color-orange-1;
  fill: $color-orange-1;
  background-color: transparent;
  flex-direction: column;
  order: 5;

  &:hover {
    filter: brightness(85%);
  }
}

.shared-header__alerts {
  order: 4;
}
#global-alert-btn {
  color: $color-green-1;
  fill: $color-green-1;
  background-color: transparent;
  flex-direction: column;

  &:hover {
    filter: brightness(85%);
  }
}

.pages-home__container__shortcuts__list__shortcut {
  &--methods mat-icon {
    stroke: $color-lila-1;
  }

  &--tasks mat-icon {
    fill: $color-green-1;
  }

  &--results mat-icon {
    fill: $color-orange-1;
  }

  &--differentiate mat-icon {
    stroke: $color-red-1;
  }
}

.pages-home__container,
.pages-methods-overview,
.pages-practice-overview,
.pages-settings-profile,
.pages-settings-dashboard,
.pages-settings-alerts {
  position: relative;

  > * {
    z-index: 1;
    position: relative;
    display: flex;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 260px;
    background: $shared_header__page-bar_background;
    z-index: 0;
  }
}

/*
 * icon fonts
 */
@font-face {
  font-family: FontAwesome;
  src: url(/assets/fonts/fontawesome-webfont.eot?v=4.4.0);
  src: url(/assets/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0)
      format('embedded-opentype'),
    url(/assets/fonts/fontawesome-webfont.woff2?v=4.4.0) format('woff2'),
    url(/assets/fonts/fontawesome-webfont.woff?v=4.4.0) format('woff'),
    url(/assets/fonts/fontawesome-webfont.ttf?v=4.4.0) format('truetype'),
    url(/assets/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: simple-line-icons;
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2);
  src: url(/assets/fonts/Simple-Line-Icons.eot?v=2.2.2#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/Simple-Line-Icons.ttf?v=2.2.2) format('truetype'),
    url(/assets/fonts/Simple-Line-Icons.woff2?v=2.2.2) format('woff2'),
    url(/assets/fonts/Simple-Line-Icons.woff?v=2.2.2) format('woff'),
    url(/assets/fonts/Simple-Line-Icons.svg?v=2.2.2#simple-line-icons)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/assets/fonts/glyphicons-halflings-regular.eot);
  src: url(/assets/fonts/glyphicons-halflings-regular.eot?#iefix)
      format('embedded-opentype'),
    url(/assets/fonts/glyphicons-halflings-regular.woff2) format('woff2'),
    url(/assets/fonts/glyphicons-halflings-regular.woff) format('woff'),
    url(/assets/fonts/glyphicons-halflings-regular.ttf) format('truetype'),
    url(/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular)
      format('svg');
}

@font-face {
  font-family: polpo;
  src: url(/assets/fonts/polpo.ttf?xzjs0z) format('truetype'),
    url(/assets/fonts/polpo.woff?xzjs0z) format('woff'),
    url(/assets/fonts/polpo.svg?xzjs0z#polpo) format('svg');
  font-weight: 400;
  font-style: normal;
}
